[2020-12-06 07:20] edbzn opened #1 "Remove --first-release and make it transparent to users"
We could simply check if a `CHANGELOG.md` file exists to define its value.

[2020-12-07 14:25] yjaaidi opened #4 "Monorepo independent versioning"
When using a monorepo, developers can choose independent versioning:
- a library should be bumped only if its files change,
- every lib should have its own git tags.

[standard-version](https://github.com/conventional-changelog/standard-version) doesn't handle commits filtering per directory.
Maybe we should  use lerna's libraries. Cf. https://github.com/lerna/lerna/blob/main/core/conventional-com

[2020-12-07 14:26] yjaaidi opened #5 "Monorepo locked/fixed mode"
When using a monorepo, developers should be able to choose locked/fixed mode and bump all libs synchronously.
Cf. [lerna fixed mode](https://github.com/lerna/lerna#fixedlocked-mode-default).

[2020-12-14 13:35] yjaaidi commented on #4
We should use `standardVersion`'s `tagPrefix` parameter in order to prefix tags for each package with the package's name (e.g. `@jscutlery/semver@0.1.1`).

[2020-12-15 06:29] edbzn commented on #4
@yjaaidi I'm wondering if we can run a builder on multiple projects at once. Do you have any clue about this ?

[2020-12-15 10:06] yjaaidi commented on #4
Not sure. I just think that as it acts globally on the repo, it doesn't have to be a builder. It could be just a schematic.

[2020-12-23 17:35] #5 closed

[2020-12-23 17:46] yjaaidi opened #27 "Improve builder tests"
1. There should be a `calledTimes(1)` here https://github.com/jscutlery/semver/blob/2fdf2c3b0ff3288e18cdbd3a64b200ae45c05512/packages/semver/src/builders/version/builder.spec.ts#L156 but for some reason, this is called 6 times.
2. `MockBuilderContext` seems to read the filesystem for some reason. We should avoid that.
3. Shouldn't we automock fs etc... with `jest.mock('fs')`?

cc. @edbzn
Maybe thi

[2020-12-23 17:47] yjaaidi commented on #4
Well as we just tested, it actually already works in independent mode perfectly.

[2020-12-23 17:47] #4 closed

[2020-12-23 21:13] edbzn opened #28 "ng-add schematic"
The user should be able to add `@jscutlery/semver` in a workspace using a schematic.

- install the package
- ask options (remote, branch, push and syncVersions)
- update the `workspace.json` or `angular.json` accordingly

[2020-12-24 10:18] #27 closed

[2020-12-24 10:24] yjaaidi opened #29 "fallback to `angular.json` if `workspace.json` is not found"

[2020-12-24 10:45] yjaaidi commented on #28
Depending on the answer to `syncVersions`, we should apply the version builder to all projects (one by one) or the whole workspace.
[code]

⚠️ We should also add the `workspace` project to `nx.json` if it does not exist.

[2020-12-26 19:26] #28 closed

[2020-12-26 19:30] edbzn commented on #29
Resolved by 2b0ab57dc55f14af952b20f55b7a0f0dd6261b42

[2020-12-26 19:30] #29 closed

[2020-12-27 07:55] edbzn opened #31 "Copy root README.md to dist"
It could be useful for some usecases, firstly for this package which have poor documentation on npm.

It could be an option `--copy-root-readme`

![image](https://user-images.githubusercontent.com/8522558/103166279-d71baa80-4820-11eb-9ba7-67becd002a5b.png)

[2020-12-27 07:57] edbzn opened #32 "NPM publish"
It could be useful to publish to npm directly using this package. It could be a new builder.

[2020-12-28 07:56] edbzn commented on #31
Close since we can use the `assets` option from build builder to copy assets in dist.

[2020-12-28 07:56] #31 closed

[2020-12-28 09:19] yjaaidi commented on #31
Yup! In most cases we will want to have a specific README for each package.

[2020-12-28 10:16] yjaaidi opened #33 "Add package to devDependencies using declarative approach"
We have to use the declarative approach for the following reasons:
- less code
- we don't have to get the latest version on npm or read the current version of the schematic in `package.json`
- it will let the user choose the version of the schematic `ng add @jscutlery/semver@1.0.0`

Cf. https://github.com/jscutlery/semver/pull/30#discussion_r548832307

[2020-12-28 10:44] yjaaidi commented on #32
We'll have to handle:
- [ ] Prompting the user for OTP
- [ ] Using tokens in env vars for the CI (another issue)?

[2020-12-28 10:45] yjaaidi opened #34 "Prefix git tag in independent mode"
In independent mode, git tags should be prefixed with the package name. Currently we have version tag collisions.

[2020-12-28 12:03] yjaaidi opened #35 "Bump version only if necessary"
`version` schematic should add a `latest` git tag. This can be used as a base when running version on affected projects: `nx affected --target version --base latest`

[2020-12-28 19:19] #33 closed

[2020-12-28 19:22] yjaaidi commented on #33
Sorry for the noise. I want to make sure that `closes` `fixes` etc... produce the same results on github.

[2020-12-28 19:42] yjaaidi opened #36 "Prompt for projects list when user chooses independent mode"
`ng-add` schematics should prompt user to select the projects to version.

- [x] By default, all projects should be selected.
- [x] The prompt is dynamic (it depends on the projects list) so we can't use `x-prompt`. We have to hack our way through the `PromptProvider` (Cf. https://github.com/angular/angular-cli/blob/7a39938cd0373eaee75597b96909b747e3094f18/packages/angular_devkit/schematics_cli/bi

[2020-12-28 22:43] yjaaidi opened #37 "ng add schematic should setup version builder on all projects in independent mode"
When user selects independent mode, version builder should be applied to all projects by default.
- [ ] ˋproject-nameˋ option should be removed (it will be replaced by a `projects` option and a list prompt)

[2020-12-31 08:03] #34 closed

[2021-01-01 15:47] #37 closed

[2021-01-01 15:49] edbzn commented on #36
The last missing feature for this is the option projects override.

[2021-01-04 15:19] #36 closed

[2021-01-05 10:14] yjaaidi commented on #32
https://github.com/bikecoders/ngx-deploy-npm is interesting but it doesn't work with nx as it checks for configurations in `angular.json`.
It's probably easier to fix it than to reinvent it.
We can then extend our `ng-add` schematic to install `ngx-deploy-npm` and configure it for publishable libraries.

[2021-01-05 17:51] #1 closed

[2021-01-06 08:41] edbzn opened #42 "Dedicated sub CHANGELOGs with Sync mode"
For now we only have one root CHANGELOG for the monorepo. There is some interest of having sub CHANGELOGs :
- more concise and readable
- optimized for release bots (eg [@releasebutler](https://twitter.com/releasebutler?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor))
- ?

Fun fact: Lerna made this feature early, before they included a root CHANGELOG as an enhancement, [see this](https://g

[2021-01-06 08:49] edbzn opened #43 "Document how to use it in a CI environment"
The main goal is to automate the release process and automation comes with continuous integration btw. We should document how to do this. We can start with GitHub actions.

[2021-01-06 08:58] edbzn commented on #35
We should also add the tag prefix `<project>-latest` for independent versions to avoid conflicts.

[2021-01-06 10:16] yjaaidi commented on #42
In fact, the sub changelog is more important but it wasn't the quickest solution with `standard-version` 😊.
In addition, it helps users know why they update if some commits are generic or if they miss the scope.

It doesn't have to be option. Actually, what should be the option is the root changelog. What do you think?

I guess we should call https://github.com/conventional-changelog/standard-vers

[2021-01-06 10:37] yjaaidi commented on #35
The more I think about this, the more I wonder if it's up to the builder to tag.
There is a real challenge with independent mode. If we use a different tag for each project then we won't be able to use `nx affected` and we'll have to build our own mechanism to check which projects should be bumped.

If we use `nx affected` then we can tag `latest` but if we run `version` manually then we shouldn't

[2021-01-06 10:48] yjaaidi commented on #43
I think #35 is a prerequisite for this issue.
`version` is not idempotent; it will bump the version even if the package has no changes. We could make it idempotent but I don't think it's a great idea as we already have `nx affected` and we can count on it.

Then there is #32 which is the key thing I'd love to see automated.

[2021-01-06 11:42] edbzn commented on #35
One other approach would be to simply avoid the `latest` tag with independent mode, it does not have a meaning to have one single tag for many packages at the same time.

Regarding the `nx affected` command, we can simply replace the need of the latest tag using GitHub refs.

[code]

or

[code]

Do we bring this feature for the synced mode at least? This discussion raise doubts about the whole thi

[2021-01-06 13:04] edbzn commented on #42
Agree with that, but it's a major change. Let's go for it.

[2021-01-06 16:58] yjaaidi commented on #35
I think that we have to find a solution that solves the following issues:

# 1. The nx affected base
The problem with the `origin/master` approach is failing builds.
Suppose one or more builds fail _(e.g. libs `a`, `b`, `c` should bump but as something goes wrong with `a`, they don't)_, then we fix that in one commit that only affects one of them _(e.g. lib `a`)_ then some libs won't be bumped _(e

[2021-01-08 09:04] edbzn opened #46 "Update to `@angular-devkit/architect@0.1100.6` break the builder"
Bumping `@angular-devkit/build-angular` from 0.1100.5 to 0.1100.6 break the CLI and log the following error when running `nx run semver:version`:

[code]

Does it is related to Nx, or the angular-devkit itself? While this being resolved I revert the update.

[2021-01-08 09:21] edbzn commented on #46
It seems to be a conflict with the package inception. When I re-run `yarn add @jscutlery/semver -D -W` it works, but the package `@angular-devkit/build-angular` get downgraded to 0.1100.5 in `yarn.lock`, at this point if I run `yarn` and try to version then it fails.

[2021-01-21 13:10] renovate[bot] opened #54 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:33] #54 closed

[2021-01-22 20:26] KyleBastien opened #56 "Feature Request: Bump versions explicitly based on passed in parameters"
It would be great to be able to bump versions explicitly based on a passed in parameter. This is similar in nature to Lerna's [`version`](https://github.com/lerna/lerna/tree/main/commands/version#readme) command.

I think this command could look like:

[code]

[2021-01-23 11:40] yjaaidi commented on #56
Thanks for the issue @KyleBastien.
This is not exactly where we are headed as we are focusing on automation thanks to conventional commits.
On the other side, this could be interesting for some specific use cases or when not using conventional commits yet.

We should cover the following features:
- [ ] ˋversion patch|minor|major`
- [ ] `version x.y.z`

PRs are welcome 😊

[2021-01-24 15:24] edbzn commented on #56
That's not the first time I see this suggestion from users that have projects not following the conventional commits, it would be a great addition for manual versioning.

[2021-01-25 15:09] glebmachine commented on #42
Looking forward this feature!

[2021-01-25 17:37] edbzn commented on #42
@glebmachine I'm working on this, it will be available soon. :blush:

[2021-01-28 08:34] #35 closed

[2021-01-28 08:34] #42 closed

[2021-01-29 07:53] edbzn commented on #42
@glebmachine We published a release including this feature.

[2021-01-29 11:48] glebmachine commented on #42
I'm found that if no previous tag was set, cli command exits silently.
![image](https://user-images.githubusercontent.com/1610882/106267924-6c082e00-623b-11eb-8363-97c34a656c68.png

And one more thing)
Is it possible to calculate Changelog for each library in parallel?
I've got about 50 libraries and it takes for ages

Here concat can be replaced with combineLatest or similar
https://github.com/js

[2021-01-29 16:09] edbzn commented on #42
@glebmachine I will investigate the bug, thank you. Nice suggestion for the parallelization. :+1:

[2021-01-29 16:46] edbzn commented on #42
@glebmachine I'm not able to reproduce the bug, can you send us a reproduction?

[2021-01-29 18:29] yjaaidi opened #60 "Parallelize changelog generation for Gleb"
😊

Cf. https://github.com/jscutlery/semver/issues/42#issuecomment-769758527__

[2021-01-29 18:32] yjaaidi commented on #42
I just opened an issue for changelog parallelization.

[2021-01-29 18:49] edbzn commented on #60
I quickly published a release (1.3.0) including this feature de6418a4f143a5414cbca17e6e0fcc484eb5eae6 :smile:

[2021-01-29 21:24] glebmachine opened #61 "Can independent mode run over all libraries at once and produce single commit (not multiple)"
Guys, i'm sorry for be so bothersome 🙄

Sync mode update all changelogs and package.json versions at once (with one single version) and produce single "bump" commit.
Indepdendent mode goes for each library and produce multiple "bump" commit for each library.

Is it possible to run independent mode like sync mode (over all apps and libs) and produce single commit not multiple?

Thank you!) 🍺

[2021-01-30 09:20] edbzn commented on #61
Hi @glebmachine, you're not bothersome, I like your suggestions! I think it's a complete valid scenario for a monorepo.

 To make it work we should rework the [`versionProject`](https://github.com/jscutlery/nx-plugin-semver/blob/de6418a4f143a5414cbca17e6e0fcc484eb5eae6/packages/semver/src/builders/version/version.ts#L62-L62) function which run `standardVersion` internally and commit for each proje

[2021-01-30 09:32] edbzn commented on #60
I close it since it's resolved.

[2021-01-30 09:32] #60 closed

[2021-01-30 09:35] edbzn commented on #46
Close it since it's conflict with deep npm modules duplication, the solution is to rerun `yarn add @jscutlery/semver -D -W` without committing the `package.json` (even if it's not perfect).

[2021-01-30 09:35] #46 closed

[2021-02-01 08:42] petergrau opened #64 "Missing workspace.json"
When executing `nx run workspace:version --sync-versions true --root-changelog false` in my nx repo I get the following warning:

[code]

NX version: `"@nrwl/workspace": "11.1.5"`

[2021-02-01 11:08] edbzn commented on #64
@petergrau Could you provide a reproduction please? I will dig in it. However the path `'project/workspace.json'` seems not correct  at first look but I need to have more context.

[2021-02-01 12:19] petergrau commented on #64
I added semver using `ng add @jscutlery/semver` and then executed `nx run workspace:version --sync-versions true --root-changelog false`. (Adding it complete without an error.)

(`project` was the replacement for the path to the nx workspace)

[2021-02-01 13:04] edbzn commented on #64
Oh ok I didn't noticed it was a warning. I see now, it's because we're reading the `angular.json` file this way :

[code]

We should check if the file exist before reading it, but I don't get why an unhandled promise is raised, we're actually handling the error notification.

[2021-02-01 14:50] petergrau opened #65 "package.json of the libs is not updated"
I am not sure if it is a bug or feature. When running:

`nx run workspace:version`

the changelog of the libs is udpated but no version bump is happening for the `package.json` in that lib.

[code]

[2021-02-01 14:54] petergrau opened #66 "syncVersions only create a new changelog for affected libraries"
I guess the following "works as designed" but can cause problems:

When using the following setting:

[code]

the changelog is only created for some libraries - probably `affected` ? But when keeping all the versions in sync I always need to publish a new version of all libs - no matter if they are affected or not. So the package.json should be updated in any case and probably an empty changelog a

[2021-02-01 15:21] edbzn commented on #65
I'm not able to reproduce this, in my sandbox repo package.json files get correctly updated when releasing in sync mode. Could you provide more context?

[2021-02-01 15:25] petergrau commented on #65
Just when trying to reproduce the issue once more it worked. Not sure what was different this time but I think the issue can be closed for now.

[2021-02-01 15:26] petergrau commented on #66
When #65 worked this one also touched all libs. Not sure what caused it before.

[2021-02-01 15:30] edbzn commented on #66
In sync mode all librairies get updated even if they are not affected, it work as expecting. Let us know if this append again. I'm closing this for now.

[2021-02-01 15:30] #66 closed

[2021-02-01 15:40] petergrau commented on #65
Sorry for re-opening. I just did a `git reset` and tried again and ran into the same issue again. The script just stops during the "create changelog" process without any error:

[code]

Is there any option for verbose output? (I did try to disable nx cloud but did not change the result.)

Actually when I ran the same command twice more it finishes without an error.

[2021-02-01 15:43] petergrau opened #67 "Custom rulset for "conventional-changelog-angular" settings"
In our current release process we have modified the ruleset in some aspects like this:

[code]

Is it possible to pass a custom config to `semver` as well?

[2021-02-01 15:58] edbzn commented on #67
It's something we had in mind but because we're not using custom configuration for ourselves we delayed it. Would you want to contribute? I can guide you if you want so.

[2021-02-01 16:05] edbzn commented on #65
I'm suspecting Nx Cloud to interfere but I will try to reproduce your scenario to be sure.

[2021-02-01 16:19] petergrau opened #70 "Combine semver with GitHub release"
We are currently using `semantic-release` but `semver` could be the perfect replacement. However there is on scenario that I am struggling with: Besides creating the changelog we also want to publish a GitHub release

- The problem is that `semver` will end the process with creating a tag.
- If I now e.g. want to use the `gh cli` to create a release I would be in trouble because the tag has alread

[2021-02-01 16:23] petergrau commented on #67
We are currently evaluating if `semver` could replace our existing release workflow - if it seems suitable then I think we would be happy to invest some time into it.

[2021-02-01 18:39] tinesoft opened #71 "Any plan on supporting 'semantic-release' ?"
Hi semver Team,

Thanks for the plugin.

Any chance on supporting https://github.com/semantic-release/semantic-release in addition to standard-version (users could decide through a new option on the schematics for e.g)?

It has the advantage of fully automating the release (no manually operation at all),
integrates with NPM, Github Releases out-of-the-box (closing #70), etc.

[2021-02-02 09:59] edbzn commented on #71
Hi, thanks for your feedback.

That's what we have in mind, our next goal is to provide package publish to allow fully automate release cycle (#32) . To achieve this we started working a dedicated deploy builder. We choose to improve this one [ngx-deploy-npm](https://github.com/bikecoders/ngx-deploy-npm/pull/40) to make it compatible with Nx workspace, then we want to integrate this builder direct

[2021-02-02 14:39] yjaaidi commented on #64
Thanks @petergrau for the issue.

There was actually a problem with the `readJsonFile` function as it is using `from` instead of `defer`. If the error is triggered before we subscribe and implicitly add an error catcher, it would crash. I am sharing a fix right now.

@edbzn Actually, I am more in favor of the pythonic approach of "Easier to Ask for Forgiveness than Permission" https://docs.python.

[2021-02-02 14:40] #64 closed

[2021-02-02 14:56] edbzn commented on #64
I didn't know about these approaches and I love it! I use it in real life too, so why not in code. :smile:

[2021-02-02 18:17] yjaaidi commented on #64
It also works in the mountains. If I fall then it's a hole 😅.

[2021-02-02 18:23] yjaaidi commented on #70
Hi @petergrau, I am not sure if the presence of the tag affects `gh cli`.

As mentioned by @edbzn in #71, we are thinking about the best way to handle publishing/deployment as we are not only aiming monorepos with libs but also monorepos with apps and maybe non-js code.

Meanwhile we provide a generic way for handling publishing & deployment, you could implement github release with something like

[2021-02-02 19:08] yjaaidi commented on #71
Thank you @tinesoft for the feedback.
+1 @edbzn. We need plugins!

I can see 3 different approaches:
1. handling publishing & deployment using plugins.
2. handling `npm publish` in `@jscutlery/semver` but what about github release, or even python's pip or deploying apps to firebase or vercel etc... too much surface for the lib.
3. not handling publish & deploy. This is the current state of `@jscut

[2021-02-03 09:13] edbzn commented on #71
I'm agree, the first approach looks the way to go but it raises some questions :
- do we drop `standard-version` as it does not support hooking into release steps programmatically?
- do we keep `standard-version` and we make the plugin system `semantic-release` compatible only?
- what about the synced mode in addition with `semantic-release`, how we deploy multiple packages at once?

[2021-02-03 10:12] tinesoft commented on #71
Hello guys,

Thanks for considering `semantic-release`! I do think it would be a great addition to the plugin💡

Maybe this project might help for the implementation? https://github.com/twittwer/nx-tools.
It's another collection of nx plugins that uses `semantic-release`'s API and a custom `release` target.
I shamelessly reuse the same for my own collection of nx plugins (https://github.com/tinesof

[2021-02-03 13:01] yjaaidi commented on #71
It is not necessary yet as we don't have to support all hooks. For now, we just need a `publish` hook.
We can add others later. Most of them like `prepare` can be called before calling `standard-version` so we don't have to get rid of it yet.

Based on the workspace definition, we know which builder is used and we have the output path in the configuration.
This way we can `build` every package and

[2021-02-03 13:21] petergrau commented on #70
@yjaaidi thanks - that seems to work - need to dig in a bit deeper. The only remaining question I then have at this point is if there is a good way to only retrieve the changelog from the latest release from the CHANGELOG.MD that was written by semver.

[2021-02-04 09:00] edbzn commented on #71
I think we need more than the `publish` hook, the `semantic-release/npm` plugin uses :

- verifyConditions
- prepare
- addChannel
- publish

Users would expect that the plugin work the same way as with semantic-release, so we need to implement these hooks.

[2021-02-04 17:54] yjaaidi commented on #71
Actually, it all depends on our goals.
Should we just try to reuse plugins like `@semantic-release/npm` & others to deploy apps / publish libs?
Or do we want to support all `@semantic-release` plugins?

It's probably the same effort for both but the second provides more value 😊

Instead of just supporting `@semantic-release` plugins, I think we can split this into two features:
- Defining a plugin

[2021-02-05 11:06] petergrau commented on #71
Maybe https://github.com/pmowrer/semantic-release-monorepo is also worth a look and how they do it?

[2021-02-22 09:53] Temi89 opened #90 "Unable to use Plugin"
Hi there I have tried to use this plug and added the following to my config asper documentation .

   "version": {
          "builder": "@jscutlery/semver:version",
          "options": {
            "push": true,
            "remote": "origin",
            "baseBranch": "origin/master"
          }
        }

all I get is the following is logged with nothing happening :  nx run my-ap:version --dry

[2021-02-22 11:08] edbzn commented on #90
Hi, the `"baseBranch"` option should be the branch name to push against and not the concatenation *origin* + *branch*, but that's not the problem if nothing is versioned.

Your commit history should contain fix, feature or breaking change since last release to version your package. Is it the case? Is it the first time you version your library? If not, what is the last git tag?

It's hard to see wh

[2021-02-22 11:19] edbzn commented on #90
@Temi89 I just released a fix (1.3.2)  to not fail silently, if you rerun the version command it should help us to understand what's wrong.

[2021-02-22 11:42] Temi89 commented on #90
Finally got some errors coming out of this now. something to do with my path anydieas ?

Error: fatal: unrecognized argument: --path=apps/frontend

![Screenshot 2021-02-22 at 11 36 35](https://user-images.githubusercontent.com/18047134/108703728-ea868180-7502-11eb-844f-eef31ea8304f.png)
![Screenshot 2021-02-22 at 11 40 32](https://user-images.githubusercontent.com/18047134/108703735-ec504500-7502-

[2021-02-22 11:49] Temi89 commented on #90
So for the commit I am following the structure you mentioned above something like fix(sales1): add new item to basket. It wouldn't be the first time previously was running semantic release from the root and the current tag is on v1.3.0 . Also was expecting the dry run to update  my package version just to understand its behaviour before pushing it to gitlab .

[2021-02-22 13:21] edbzn commented on #90
With independent mode, in order to avoid tag conflicts between projects semver assumes the previous tag to be formatted as `project-x.x.x`, in your case it should be `frontend-1.3.0`. If the tag is not found it should raise an error related to Git revision, which is not your case. :thinking:  Just to be sure, could you try to retag with the suffix as mentioned and rerun `nx run frontend:version --

[2021-02-22 21:23] harwee opened #91 "Any way get current version in package executor of web:lib?"
I am trying to get the current version of the library to use it in the outputPath path of package executor. Is there a way to get the version in workspace.json to do something like

    "package": {
      "executor": "@nrwl/web:package",
      "options": {
        "project": "package.json",
        "outputPath": "dist/libs/element-base/{version}",
        "entryFile": "libs/element-base/src/index.

[2021-02-23 06:52] Temi89 commented on #90
HI Thanks for coming back to me . Indeed I did try to get the error when tags dont exist and I do get an error relative to the tag not found as soon as I create the tag I still end up with the same error about my path not recognised.
![Screenshot 2021-02-23 at 06 44 17](https://user-images.githubusercontent.com/18047134/108810418-00e41a00-75a3-11eb-9967-835b3dbccef5.png)
![Screenshot 2021-02-23 at

[2021-02-25 10:16] petergrau commented on #65
@edbzn where you able to reproduce the bug?

[2021-02-25 15:31] Katona opened #95 "Versioning fails intermittently in projects with several modules"
Hi,

Versioning fails frequently in a project containing several modules, see this repo: https://github.com/Katona/nx-version-test. The problem seems to be that CHANGELOG files are generated and added to the git repo concurrently, and while one of the processes is adding the file the git repo is locked.

I am using `@jscutlery/semver@1.3.2` and `nx@11.0.20`.

[2021-02-25 19:12] yjaaidi commented on #95
Nice catch @Katona! Thx for the diagnostic.

[2021-02-26 08:17] edbzn commented on #91
Hi @harwee, actually there is no way to achieve this and we're not planning to add this feature right now as we're focusing on something else, but if this feature is needed by some other people we can plan it. I leave it open for now.

[2021-02-26 10:51] Katona commented on #95
Thanks, I didn't make a thorough investigation and I am not familiar with RxJs, so it was an educated guess. Is there any way I could contribute?

[2021-02-28 07:48] ntziolis opened #102 "Bug: Fails when inital version is 0.0.1"
When creating a new angular lib via nx the default initial version number of the package is `0.0.1` instead of `0.0.0`. This causes the plugin to fail when executing `nx run mylib:version`.

When manually setting the version of to 0.0.0 the command starts working as expected.

Root cause is the following line:
https://github.com/jscutlery/semver/blob/8eada0d59864d18b9bcefcfec36068e79dc79c38/packag

[2021-03-01 07:51] #56 closed

[2021-03-01 08:58] edbzn commented on #102
Hi @ntziolis, thank you for spotting this!

Initially we had an --initial-release flag but we removed it as we wanted to make it transparent for the user. It seems to be weak to base our assumption on what's Nx generate (0.0.1), so I would suggest to update the `getCurrentVersion` function with the following logic :

- get the last semver tag
- (first fallback) get the last tag `git describe --tag

[2021-03-01 09:27] ntziolis commented on #102
That would be perfect.

[2021-03-01 11:15] edbzn commented on #95
Hi @Katona,

Thanks for your feedback! Actually the workspace release work as the following :

1. resolving all projects
2. concurrently by project
  2a. generate project's changelog
  2b. git add :arrow_left: _here is the problem, we should do this sequentially after changelogs get generated_
3. run standard version

We should modify the [`updateChangelog`](https://github.com/jscutlery/semver/blo

[2021-03-01 11:21] edbzn opened #105 "docs: bump version explicitly"
Based on this new feature (#101) we should document its usage.

@chigix would you want to take it?

[2021-03-01 11:30] edbzn commented on #90
I don't understand why this option `--path=apps/frontend` is passed because the package we use `git-raw-commits` should format it as the following git valid option `-- apps/frontend` ([see this](https://github.com/conventional-changelog/conventional-changelog/blob/8076d4666c2a3ea728b95bf1e4e78d4c7189b1dc/packages/git-raw-commits/index.js#L35)).

I checked if the package fixed something since the l

[2021-03-01 15:16] chigix commented on #105
I attempt to take it. Is there any guideline or history commits that I can follow as samples or templates to fill text as the deliberate document ?

[2021-03-02 16:18] Katona commented on #95
Hi @edbzn,

Thanks for help, I will try to fix it.

Gabor

[2021-03-04 08:09] #105 closed

[2021-03-05 09:00] #95 closed

[2021-03-09 03:39] chasevida opened #114 "Versioning only for applications based on library changes"
A few colleagues were looking for a solution to bump our application version based not only changes in the application code but also any libraries that it is dependent on. Is that possible with this module or will it only ever bump the version of the individual library or app when changed?

This sounds like a strange request. What we're looking to achieve is a way to kinda semantically version our

[2021-03-09 09:10] lasota-piotr commented on #114
It would be great to make the plugin work similar to [Lerna](https://lerna.js.org/).
Apps have their `package.json` files only for storing an independent version.
The main difference which I saw is in "Independent mode". `lerna version` bumps version of a changed package (for example minor change 1.1.0 -> 1.2.0) and all packages (apps) that import the package with a fix (for example 1.1.0 -> 1.1.1

[2021-03-09 11:43] lasota-piotr commented on #114
Yes, Lerna handles this.
Example repo: https://github.com/lasota-piotr/lerna-repo
![Screenshot 2021-03-09 at 12 25 33](https://user-images.githubusercontent.com/9272629/110464840-eeee9500-80d3-11eb-975f-0cfa90c302f5.png)

The problem with Lerna is that I assume, it uses `depencencies`, `devDependencies`, and `peerDependencies` of `package.json` to figure out what packages are dependent on each oth

[2021-03-09 14:24] cwmrowe commented on #114
First of all really love where this project is heading. However I having trouble understanding how to use it in a CI environment, specifically when it comes to deploying apps, and it seems related to this issue.

Let's say I have the following application.

[code]

I don't really want to use syncMode as I want the bike-store and scooter-store apps to have separate version numbers. However if syncM

[2021-03-09 15:50] edbzn commented on #114
Thank for your feedback folks! I like the Lerna approach with using `depencencies`, `devDependencies`, and `peerDependencies` to figure out which package depend on each other. IMO this in combination with independent versioning bring exactly what you need. At the moment sync groups are not well defined as we're discussing about it. Also as @lasota-piotr mentioned with sync mode all packages get up

[2021-03-09 20:38] chasevida commented on #114
Thank you @edbzn good to know sync mode works like this. Our use case is more in line with what @lasota-piotr outlined (far better than I originally did - thank you). We have multiple `apps` and in our CI we build and containerize only those affected. If we use sync mode we would end up building everything even for changes that are not relevant. This just gets a bit slow and potentially costly wit

[2021-03-17 01:48] guiseek commented on #71
thanks for the contribution with the community, i'm looking forward to this plugin. if I can be useful for use case testing, it will be my pleasure

[2021-03-17 01:49] guiseek commented on #71
thanks for the contribution with the community, i'm looking forward to this plugin. if i can be useful for use case testing, it will be my pleasure

[2021-03-17 07:38] edbzn commented on #71
We're close to the end with semantic-release plugin support, we're facing the last tricky issue which is forwarding the right context object to the plugins.

[2021-03-17 10:55] Charlinho commented on #71
@edbzn, Great! if you any help, I can contribute with your work.
thanks!

[2021-03-18 16:22] LayZeeDK commented on #71
ngworkers are interested in using these plugins:
- `@semantic-release/github`
- `@semantic-release/npm`

[2021-03-18 17:05] yjaaidi opened #125 "Replace syncVersions by version grouping"
This is a follow-up to the following discussion https://github.com/jscutlery/semver/discussions/98.

Given a repo with 3 packages a, b & c, one should be able to sync versions for a & b but still keep independent versioning for c; meaning that changing a would have to bump b as well.

The solution we agreed to is to use the project structure for grouping (using folders).

Example:

[code]

- [ ] I

[2021-03-22 10:04] edbzn opened #129 "Refactor with `@nrwl/devkit`"
This task will simplify the code a lot, but it's a lot of work.

[2021-03-23 16:27] #102 closed

[2021-03-26 12:26] LuckeeDev opened #132 "fatal: bad revision 'v1.10.10..HEAD'"
Running `nx run workspace:version` fails and logs `Error: fatal: bad revision 'v1.10.10..HEAD'`.
Any idea about how to solve this?

[2021-03-26 12:37] edbzn commented on #132
Hi, could you tell me what is the version in your package.json file and also what is the name of the last git tag?

[2021-03-26 12:51] LuckeeDev commented on #132
Hi, thanks for reaching out so quickly!

Package.json version: 1.10.12
Last git tag: v1.10.12

[2021-03-26 12:52] LuckeeDev commented on #132
Actually, the error is now `Error: fatal: bad revision 'v1.10.12..HEAD'` because I tried manually bumping versions to see if it changed anything.

[2021-03-26 14:51] bjornharvold commented on #132
Same here.
@jscutlery/semver@1.3.2
git-describe@4.0.4

[code]

[2021-03-26 14:57] bjornharvold commented on #132
FYI It works with v1.3.1

[2021-03-26 15:15] edbzn commented on #132
v1.3.2 was basically a fix to log this kind of error in the terminal, instead of silently failing, I'm not sure the issue comes from this release, by any chance is your repo accessible? It would help me a lot, meanwhile, I will try to reproduce this locally.

[2021-03-26 15:27] bjornharvold opened #133 "v1.3.1 Failing silently on large monorepo"
I have a monorepo with 750+ libraries. When I run

`nx run workspace:version`

The command finishes without any error but there was no version bump and no change logs generated

[2021-03-26 15:37] edbzn commented on #133
It was fixed in v1.3.2, when the error was an incorrect git HEAD comparison, it was not logged in the console.

[2021-03-26 15:42] LuckeeDev commented on #132
Just tried with v1.3.1 and v1.3.0 and they both fail silently, so the issue is not with this version itself.

If it's of any help, I switched from WSL back to Windows few days ago and the issue only started happening after that.

I'm afraid I can't share the repo since it's for internal use only. :/

[2021-03-26 15:54] edbzn commented on #132
Interesting! it means it's possibly a compatibilty issue with windows, how will I debug this since I'm on Linux. :smile:

[2021-03-26 20:29] LuckeeDev commented on #132
Does tagging the commit as a simple tag or an annotated tag make any difference in how the library handles the following tags?

[2021-03-26 22:07] edbzn commented on #132
I don't think so, both should be a valid pointer in the git history.

Could you run `git describe --tags --abbrev=0` and tell me what it returns? If it returns `v1.10.10`, the last tag in the history, then `v1.10.10..HEAD` is a valid comparison. You can try by running `git diff v1.10.10..HEAD` for example, let me know what you get from both.

To make it clear, the version in package.json should re

[2021-03-27 02:04] #133 closed

[2021-03-27 02:05] bjornharvold commented on #133
1.3.2 has the other issue #132 so I cannot verify

[2021-03-27 02:06] bjornharvold commented on #132
I am on Mac OS Big Sur and have the same issue

[2021-03-27 02:13] bjornharvold commented on #132
Running the command:

`git describe --tags --abbrev=0`

Produces:
`fatal: No names found, cannot describe anything.`

My package.json is at 13.0.0. It was a version I recently added arbitrarily because of previous failures with the semver plugin. FYI I never develop in a tag that contains the version number. Is that a requirement of your plugin? I am confused.

We use gitflow and work in "develop"

[2021-03-27 07:49] edbzn commented on #132
This is the reason why it's failing, semver relies on git tags, to compute the next version it tries to retrieve all commits since last git tag, if no tag found then it couldn't know from which point in the history it should compute the next version, to fix it you have to create a tag wherever it has a sense in your history, and sync it with the version in your package.json.

[2021-03-27 07:54] LuckeeDev commented on #132
Just found where the issue was: running `nx run workspace:version` from v1.10.9 produced a v1.1.10 tag instead of v1.10.10. I went back and manually deleted and recreated the tag, works fine now. Might be a bug in the library? In the meantime, thanks a lot for your time @edbzn!

[2021-03-27 08:00] LuckeeDev commented on #132
Well, apparently it's not fully solved. It worked until doing a dry run, but at the moment of actually running the command I get this error: `fatal: Unable to create 'C:/src/projects/csl/.git/index.lock': File exists.`

[2021-03-27 08:28] edbzn commented on #132
I can't help you more without seeing your git history. To produce the next version we depend on a module used by almost 10 million projects on GitHub, I'm quite confident it's not a bug from the library, but in case you can reproduce, feel free to open another issue.

This one was also solved previously (#108), but not yet released. I will see today if I can release a new version.

[2021-03-27 08:55] LuckeeDev commented on #132
Awesome, thank you very much!

[2021-03-28 01:58] bjornharvold commented on #132
Creating a Git tag with the name v13.0.0 (current version in package.json) fixed this issue for me.

[2021-03-28 02:08] bjornharvold opened #135 "Git index.lock file exists | --root-changelog not working"
I believe this is a 2-part issue.

Our project contains 1000+ libraries. When I run `nx run workspace:version`, the semver plugin starts generating CHANGELOG.md files for every library. At some point it stops with the following error:

[code]

I am not running any other process of Git.

The second part of this issue is that, according to your documentation, it should just create / update a single

[2021-04-04 18:50] LuckeeDev commented on #132
Hey there @edbzn! Any news on the update? Sorry to bother you and thanks in advance, but I was wondering when it will be available :)

[2021-04-08 08:58] edbzn commented on #135
@bjornharvold The fix was released under version 1.4.0, please let me know if the problem persists.

[2021-04-08 08:58] #135 closed

[2021-04-08 09:00] edbzn commented on #132
Sorry for the delay I just released a new version 1.4.0 with all the fixes, let me know if any problems persist.

[2021-04-08 09:00] #132 closed

[2021-04-08 09:34] LuckeeDev commented on #132
Everything works, thanks for your time @edbzn! And no worries about the delay ;)

[2021-04-08 15:54] bjornharvold commented on #135
Hi and thank you for v1.4.0!

This does indeed fix the git lock issue. However, maybe I don't understand what ' --root-changelog=true' feature means. I only want a CHANGELOG.md to be generate in the monorepo project root. Not in each individual project in the monorepo. The plugin still generates on CHANGELOG.md per project in our monorepo at the moment.

Please let me know if I am misunderstanding

[2021-04-08 17:19] edbzn commented on #135
@bjornharvold The --root-changelog option generates the main changelog at the workspace root containing all changes, it does not skip generating individual package changelogs. To provide this feature we can add a new option, and we can also skip individual changelogs in sync mode by default. What do you think @yjaaidi ?

[2021-04-09 01:26] bjornharvold commented on #135
Thank you for clarifying @edbzn

[2021-04-09 10:09] edbzn commented on #135
@bjornharvold I just opened a PR related to your comment.

[2021-04-13 13:59] bjornharvold opened #149 "Does semver invalidate Nx caches when the CHANGELOG.md files are created?"
Hi,

I would like to verify my workflow:

Steps:

1. Build entire project in develop branch successfully
2. Run your semver plugin
3. Push to master
4. Build everything again in develop branch

At Step 4., has the semver plugin invalidated all the caches for the libraries where it updated the CHANGELOG.md file?

If yes, is there a way to avoid doing that?

Thank you

[2021-04-13 14:21] yjaaidi commented on #149
Hi @bjornharvold, thank you for raising this issue.
In fact, semver plugin will implicitly invalidate Nx cache. This isn't something we control (or want to control) as, apparently, Nx will invalidate the cache when any file is added/changed/removed in the project's folder.
In addition to this, it's the desired behavior as CHANGELOG.md is part of the source code and could be used by some custom bui

[2021-04-13 15:59] yjaaidi commented on #135
We just released the 2.0.0 that introduces the new `--skip-project-changelog` and `--skip-root-changelog` options (thx to @edbzn).
Let us know how it works for you.

[2021-04-13 16:03] yjaaidi opened #150 "Migrations script is not detected by Nx"
Running `nx migrate @jscutlery/semver` doesn't detect migrations. The `package.json` and `migrations.json` look good though.

Here is the output:
[code]

---

- [ ] once fixed, we have to document the `nx migrate` command.

[2021-04-14 02:49] bjornharvold commented on #135
Perfect!! That will fix the Nx cache invalidation as well here: #149

[2021-04-14 08:49] #149 closed

[2021-04-15 00:16] yjaaidi opened #151 "When --version option is used, bump even if no changes"
We shouldn't check if there are changes or not when `--version` is used.

`--version` usage probably means there is an operator (human or machine) outside of semver so we don't need the idempotency security that avoid releasing empty versions.

Cf. we might need a `--force` option some day.

[2021-04-15 00:17] #151 closed

[2021-04-15 00:27] #150 closed

[2021-04-18 13:42] EladBezalel commented on #61
Hey y'all 😄
I have the same scenario as @glebmachine, would love to help if needed

[2021-04-20 18:46] shlomiassaf opened #157 "Allow changing the default header in the changelog"
Hi!

Great work guys, super powerful plugin!

I would like to suggest allowing the user to provide a custom header for the change log.

Currently it defaults to:

---

# Changelog

This file was generated using [@jscutlery/semver](https://github.com/jscutlery/semver).

---

While this is great to promote this plugin and excelent as the default header, users should be able to provide their own head

[2021-04-22 05:08] edbzn commented on #150
@yjaaidi I'm not sure it's been fixed, I still get "there are no migrations to run".

[2021-04-22 05:20] edbzn commented on #157
Hi, thanks for the issue, I created a PR to address this. Actually, the option uses an inline string so we have to create new lines like this :

[code]

I hesitated between a path option pointing to a header.md file, but it seems less simple.

[2021-04-22 15:13] gibsonjoshua55 opened #160 "`--version` flag is not being forwarded to nx builder"
## Current Behavior
When using the nx cli and passing `--version=prerelease` that option never makes it into my builder. It's as if I never passed the option

[code]

## Expected Behavior
passing in `--version=x` would actually get recognized as an option by the builder

## Nx Issue?
I'm not quite sure if this is an issue with semver or with nx. I'm curious because it seems like an issue with nx f

[2021-04-23 08:28] #157 closed

[2021-04-23 08:29] yjaaidi commented on #157
👌

[2021-04-23 08:38] yjaaidi commented on #150
@edbzn Not sure but I think that there is a gotcha for semver maintainers. Did you try to unlink your local version of @jscutlery/semver?

[2021-04-23 09:26] yjaaidi commented on #61
Hey @EladBezalel! Happy to see you here 😊
Initially, we liked the idea of not reinventing the wheel and reusing the `nx`'s options like `--projects` and `--affected`.
Now, considering this issue + the grouping issue https://github.com/jscutlery/semver/issues/125, there is a common prerequisite: running semver once on the workspace with a global configuration.

Let's discuss this here first then yo

[2021-04-28 14:45] yjaaidi commented on #160
Hi @gibsonjoshua55! It is an Nx issue as you discovered by yourself https://github.com/nrwl/nx/issues/5432 😊
We are waiting for the next Nx release (>11.6.3) to solve this.

[2021-04-28 14:45] #160 closed

[2021-04-29 06:58] yjaaidi commented on #125
## Challenges with current approach
Considering the following issues:
1. grouping needs "virtual projects" which make angular.json / workspace.json less readable than it already is 😉... plus, we (with @edbzn) feel that it could lead to conflicts & issues with other tools,
2. as we rely on nx to run semver on the different projects in independent mode, we have less control to solve issues like this

[2021-04-29 07:10] yjaaidi opened #165 "Update schematic to setup new configuration syntax"
Cf. https://github.com/jscutlery/semver/issues/125

[2021-04-29 07:12] yjaaidi opened #166 "Add migration schematic to migrate to new configuration syntax"
Cf. #125

[2021-04-29 07:17] yjaaidi commented on #61
As mentioned in #125, we'll be moving to a new configuration syntax that would look something like this:
[code]

As you can see in this example, we could add a `singleCommit` option to handle this feature.

[2021-04-29 07:35] yjaaidi opened #167 "Allow post bump actions using angular/nx targets"
Users (including us) want to publish apps/docs/packages, and maybe do other stuff when `semver` bumps something.
As discussed with @edbzn, instead of implementing a custom plugin system or trying to hack our way to be compatible with `semantic-release` plugins, let's allow users to run any Angular/Nx target after bump.

This could look something like this:

[code]

In the future, we could add a `p

[2021-04-29 07:39] yjaaidi opened #168 "Throw an error if a package has semver version while it's also in a group"
Cf. #125

[2021-04-29 07:40] yjaaidi opened #169 "Allow `tagPrefix` customization"
Cf. #125

[2021-04-29 07:54] yjaaidi commented on #91
Sounds like this can be solved using `postTargets` option that we are planning to add here #167

[2021-04-29 07:54] yjaaidi commented on #167
This should solve the following issues: #32 #70 #71 #91

[2021-04-29 07:55] yjaaidi commented on #32
Closing this issue to regroup the discussions here #167.

[2021-04-29 07:55] #32 closed

[2021-04-29 07:55] yjaaidi commented on #70
Closing this issue to regroup the discussions here #167.

[2021-04-29 07:55] yjaaidi commented on #71
Closing this issue to regroup the discussions here #167.

[2021-04-29 07:55] #71 closed

[2021-04-29 08:02] yjaaidi commented on #70
😅 Oups! I closed this too quickly.
AFAIK, there is no github release angular/nx builder meaning that after #167 is ready, we'll have to create one or create a schematic that adds an nx custom command running `gh release create` to workspace.json

[2021-04-29 08:06] yjaaidi opened #170 "ng-add schematic should optionally setup npm publish"
ng-add schematic should prompt user about setting up npm publish if project is publishable.
If user accepts, schematic should:
- [ ] add a deploy target using [ngx-deploy-npm](https://github.com/bikecoders/ngx-deploy-npm)
- [ ] add the target to `postTargets` (cf. #167)

[2021-04-29 15:20] LuckeeDev opened #172 "git push --atomic failed"
I'm getting this error every time I try to run `nx run workspace:version`. The tag gets pushed to the remote repo, but the commits don't get uploaded. Any idea on how to solve this?

[code]

[2021-04-29 15:24] LuckeeDev commented on #172
Oof, my bad. I had forgot to pull from the remote.

[2021-04-29 15:24] #172 closed

[2021-05-03 10:19] RicardoJBarrios opened #175 "FR: Add commitlint, husky and commitizen"
The use of `standard-version` is tightly coupled to the use of `conventional-changelog-angular`, and the use of these libraries has become a de facto standard to enforce correct use. It would be nice to allow the installation and configuration of these libraries, even if it is optional.

- [commitlint](https://github.com/conventional-changelog/commitlint): check commit messages to follow the conve

[2021-05-03 12:16] edbzn commented on #175
Hey, thanks for the issue, it's a great suggestion!

We can re-use some work done in ngx-semantic-version to set up the dependencies, unfortunately, because this package is not publicly exporting these functions, we have to copy the code.

Let me know if you face any issues here.

As we are currently focusing on another feature with semver, we won't take this quickly, but if you want to pick it up

[2021-05-05 21:04] RicardoJBarrios commented on #175
Hello. Thank you for accepting this feature request.

At the moment everything seems to be working as expected. Now I am finishing a small test project. I finish it, upload it and we see the minimum configuration.

[2021-05-06 08:38] LayZeeDK commented on #167
It would be lovely to have examples that show how to use for example these plugins:
- `@semantic-release/github`
- `@semantic-release/npm`

[2021-05-15 15:12] LuckeeDev opened #189 "Command failing after `nx migrate latest`"
After migrating to the latest version of the NX suite, if I try to run `nx run workspace:version` I get this error:
[code]

`@jscutlery/semver` version is 2.1.0.

Any idea about how to solve this?

[2021-05-16 11:06] edbzn commented on #189
Hi @LuckeeDev, this problem was resolved in version `2.2.0`, thanks for reporting!

[2021-05-16 11:06] #189 closed

[2021-05-16 12:13] LuckeeDev commented on #189
Love it! Thanks for the awesome work @edbzn

[2021-05-17 07:06] mtrefzer commented on #189
After deleting the `node_modules` folder and rerunning `npm i`.
I still get the error with the version `2.2.0`
[code]
Any Ideas? All my used dependencies are:
[code]

[2021-05-17 08:08] edbzn commented on #189
Oh my bad, good catch @mtrefzer, it's fixed, it will be published today.

[2021-05-17 17:06] mtrefzer commented on #189
Perfect now everything is back to normal and thank you for your amazing work  @edbzn

[2021-05-17 20:59] edbzn commented on #175
@RicardoJBarrios any update on this?

[2021-05-17 21:16] RicardoJBarrios commented on #175
Hello.

Yes, sorry, I've been testing it locally and is configured and working in [https://github.com/RicardoJBarrios/fgc](https://github.com/RicardoJBarrios/fgc). I've found no issues, and all works together with the config in this project, that's basically the default one.

[2021-05-19 13:46] smasala commented on #114
We've got a similar issue. We'd liked to bump the app version because a library has some changes made to it and need to build and redeploy the application with those changes based on the new version (not to mention record the changelogs). The app itself has `Nothing changed since last release.` even though the library may have breaking changes.

[2021-05-20 05:24] stefancplace commented on #114
We are having an nx workspace with 20+ apps and 40+ libraries. Would be really happy if versioning only for applications based on library changes was possible. This would massively decrease the build times on new release of e.g. only one specific library. Hope to see this feature soon :)

[2021-05-20 07:26] lasota-piotr commented on #114
I made a proof of concept of versioning apps and libraries in NX monorepo using Lerna.
Besides it creates `CHANGELOG.md` files for apps and libraries.

I created `package.json` files for every app and not publishable library for storing their versions.
Example of `package.json` file of app or not publishable library:
[code]

I created lerna.json file:
[code]

I created a script that bumps the vers

[2021-05-20 07:50] slaven3kopic commented on #114
We have the same issue. Any news about it?

[2021-05-24 17:06] RicardoJBarrios commented on #175
@edbzn , I'm not experienced with nx plugins, but I'll try to add this config and create a pull request.

[2021-05-24 17:16] hcharley commented on #172
I think if there isn't an issue open for this, we should find a better way to report the error than `[object Object]`.

[2021-05-24 17:18] hcharley opened #196 "Error after git push should not read `[object Object]` -- is the error being swallowed and not being reported to the user?"
[code]

[2021-05-24 17:20] hcharley commented on #196
FWIW, after running the git push command myself, I can see the error:

[code]

[2021-05-25 07:49] edbzn commented on #196
Hi, thanks for reporting this, agree that we can improve error reporting here, I will take it whenever I have time.

[2021-05-26 17:06] edbzn commented on #114
Hi there, we already planned our next milestone and we cannot afford this for the moment, furthermore, we use semver for publishable libraries and not for applications, that's why it's not something we need in the short term.

However, I heard that some of you need it, so if the community _(you)_ wants to take it on, we can open a discussion to shape the feature together before going into the impl

[2021-06-03 08:33] edbzn commented on #175
Closed by #203

[2021-06-03 08:33] #175 closed

[2021-06-03 18:38] RicardoJBarrios opened #206 "Remove Angular Devkit dependency"
We should allow to use this library without the Angular devkit dependency and use Nx Devkit instead.

[2021-06-03 18:41] edbzn commented on #206
Agree, if we are sure it does not drop the support for the regular Angular CLI.

[2021-06-03 18:43] RicardoJBarrios commented on #206
Now I't testing it in a  ure Nx project without Angular and fails. I'm changing dependencies and will make a new PR if it works.

[2021-06-03 18:45] edbzn commented on #206
I also have seen this issue, thanks! :+1: :fire:

[2021-06-08 04:54] dittyroma opened #212 "Program files created world writable"
Some program files are created world writable. On a multiuser system this may allow an attacker to control behavior by modifying the files (eg a config file). On Linux the umask should usually prevent this but it's not guaranteed. [Secure coding standards](https://wiki.sei.cmu.edu/confluence/display/c/FIO06-C.+Create+files+with+appropriate+access+permissions) recommend always specifying a restrict

[2021-06-08 09:01] edbzn commented on #212
Just published a fix `2.3.1`, thank you!

[2021-06-08 16:27] dittyroma commented on #212
Wow, that was fast. :-)

[2021-06-11 19:29] floross opened #215 "Allowing lerna style tag when detecting last version with git-semver-tags"
I am migrating my lerna repository to nx and I came accros this project when I needed to publish my packages.

Right now my tags are with the lerna format (`packageJson.name@version`).

The lib you use to fetch the repository came directly with this options [git-semver-tags](https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/git-semver-tags#readme) you can pass t

[2021-06-15 13:46] nicolashzmor opened #216 "NoVerify builder option (or command flag) works only when doing git push."
I've started using your library a few days ago and I found a use case that you may haven't considered.

I'm not sure if it's a good or bad practice, but I have my local testing pipeline (lint, test, etc) on my pre-commit hook.

I followed the path of the options that we defined on the architect target definition, and it seems that the only place where you explicitly use the noVerify option is in [

[2021-06-15 14:08] edbzn commented on #216
I think the affected command does not forward arguments to the specified target, so semver uses the default value defined in the schema. Have you tried to define the option in the `angular.json` or `workspace.json` instead of using CLI argument?

[code]

[2021-06-15 14:16] edbzn commented on #215
Hey, I like the idea and it would be definetely useful for some situations!

[2021-06-15 14:22] edbzn commented on #216
The `noVerify` option is merged with common options between sync & independent mode and used by `standard-version` here:
 https://github.com/jscutlery/semver/blob/76ad8837cdb0b36ab8d51c2f856ff2db8080abb7/packages/semver/src/builders/version/version.ts#L124

[2021-06-15 14:26] nicolas-hernandezamor commented on #216
Hello @edbzn, thanks for your reply.

Yes, I've tried both ways of configuring the noVerify.. same result.
`
"version": {
  "builder": "@jscutlery/semver:version",
  "options": {
    "syncVersions": false,
    "noVerify": true
  }
},
`

[2021-06-15 14:31] edbzn commented on #216
Mmh, seems to be a bug. Does it work when simply running `nx version <project>` or is it related to the affected command?

[2021-06-15 14:35] nicolas-hernandezamor commented on #216
Just a setup to reproduce:

[code]

[code]

Case 1: Post Commit. Gets into an infinite loop of committing library tags
Case 2: Pre Push: Runs the Pre Commit Hook again
[code]

[2021-06-15 14:36] nicolas-hernandezamor commented on #216
Same behavior

[2021-06-17 16:42] jacksonopp opened #218 "--version flag being set to false even when providing value"
Following the directions in the readme, I am attempting to update the versions for my affected projects.
`nx affected --target version --version=prerelease --preid=alpha`

The nx console then always shows that the `--version` flag has been set to `false` even though `prerelease` has been provided as a value.

[code]

Running the `version` command on a specific project `nx run my-project:version [.

[2021-06-20 08:40] RicardoJBarrios commented on #129
I think that #206 is a duplicate of this.

I've been diving in the code and needs a rewrite of a big part of the code, but I think is needed to be framework agnostic and multiple ci friendly.

[2021-06-20 09:26] edbzn commented on #129
@RicardoJBarrios agree with that, also we think that using Promises would be enough for semver, migrating to @nrwl/devkit could be the good time to refactor using Promises

[2021-07-02 19:08] CaffeinatedCodeMonkey commented on #218
I'm having the same issue. Just some quick tinkering makes it look like it's butting up against the `--version` flag that exists for `nx affected ...`: https://nx.dev/latest/node/cli/affected#version.

Until it's fixed, it looks like I'll do some Bash magic and loop through the affected projects.

[2021-07-05 10:43] mtrefzer opened #230 "TypeError [ERR_INVALID_ARG_TYPE]: nx run workspace:version --version=minor"
After `nx migrate latest` (12.5.5) and `nx g @nrwl/workspace:convert-to-nx-project --all` I'm running into the following error using `@jscutlery/semver@2.3.1`:

`nx run workspace:version --version=minor`

results in

[code]

[2021-07-06 09:31] mlefebvre-decathlon commented on #218
Hi :)

I solved this issue by separating between the affected command options and the target options using an extra `--`

[code]

[2021-07-07 14:26] edbzn commented on #230
Hello, this was fixed in `@jscutlery/semver@2.4.0`, thanks for reporting!

[2021-07-07 14:26] #230 closed

[2021-07-09 17:40] CaffeinatedCodeMonkey commented on #218
Trying this actually causes an error for me:
[code]

Fortunately, what I'm doing right now works fine. I only want my apps to be versioned and the `affected` command doesn't seem to allow easy scoping to libs or apps while also using a custom target. So, I get a list of the candidates using `nx affected:apps --plain` (the `--plain` flag doesn't seem to be documented, but works nicely) to get a nic

[2021-07-12 16:41] WilliamChelman opened #236 "Ignored --version and --preid in sync mode"
Hello there! 😃

I just started using this lib, but I encountered an issue trying to run it in sync mode. The issue is that --version and/or --preid options seem to be ignored in my case.

To reproduce:

1. clone [this repository](https://github.com/WilliamChelman/jscutlery-semver-sync-bug)
2. run `npm ci`
3. run `npm run nx -- run workspace:version --version=prerelease --preid=alpha --dry-run`

Fo

[2021-07-13 08:59] sylvainar opened #237 "Cannot find module '@angular-devkit/schematics/tools' on a fresh install"
I'm using Nx to manage node packages (no dependency to angular), but I can't setup this plugin on a fresh install, see error below:
[code]

My dev-dependencies:
[code]

[2021-07-28 21:15] MartaGalve commented on #114
I think this would definitely be useful, not only for apps but for libraries too. You can have libs depending on other libs, so if lib1 imports lib2, when lib2 changes you can bump lib1 too. That must be a common enough use case.

[2021-08-02 14:12] daton89 commented on #237
I also have this error, I'm using react

[2021-08-02 14:21] edbzn commented on #237
This will be fixed soon, a PR is open #238, we are just waiting for the next Nx version which comes with a fix that we need. Meanwhile, a quick fix would be to install the dep `@angular-devkit/schematics` before the install, then you can remove it.

[2021-08-02 14:22] daton89 commented on #237
cool! thank for the quick support!

[2021-08-03 17:30] BurtV opened #251 "Getting message No previous version tag found, fallback to version 0.0.0 even though we have tagged everything"
I  created a new branch to reset all the tags andmake sure  we tagging all our apps and libraries.
re-ran  the command to generate a changelog for all our apps/libs
Pushed all  changes and also made sure all the tags were pushed.

Merged everything  back into master.

Created  a  new branch from the new master branch.
Made 1  change  to a  core library.  and  ran the nx affected command to tag and

[2021-08-03 21:25] edbzn commented on #251
Hi @BurtV, can you confirm that the last tag and the version defined in package.json are in sync? for example, if you tagged `onboarding-web-component-e2e-0.1.0`, the version in package.json should be `0.1.0`.

[2021-08-05 10:27] #237 closed

[2021-08-05 10:39] #206 closed

[2021-08-07 05:37] bjornharvold opened #254 "fix: v2.5.0 Cannot read property 'Symbol(@angular-devkit/architect:builder)' of undefined"
Just upgraded to v2.5.0 of your plugin and running Nx v12.6.5

Got this error right away

[code]

Thoughts?

[2021-08-08 12:48] edbzn commented on #254
Hi, thanks for reporting, I'm aware of this issue, it was not caught by the tests unfortunately. I will fix it asap.

[2021-08-09 17:52] edbzn commented on #254
A new version `@jscutlery/semver@2.6.0` was released.

[2021-08-09 17:52] #254 closed

[2021-08-24 09:04] edbzn opened #268 "Consider using Zx for running commands"
https://github.com/google/zx

[2021-08-25 05:00] renovate[bot] opened #270 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Repository problems

These problems occurred while renovating this repository.

 - WARN: Found renovate config warnings

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.
 - [ ] chore: 📦 lock file maintenance

## Other Branches

These updates are pending. To force PRs ope

[2021-08-29 21:19] chasevida commented on #114
Thank you @edbzn appreciate you outlining that and thanks again for your work on this project.

[2021-09-02 16:50] CaffeinatedCodeMonkey commented on #114
@edbzn I, too, find I need this feature. I've spent a bit of time and it looks like I have a solid solution in place on my own branch, and would like to make it available. What steps should I take to make sure that it meets your all's standards and works the way you'd expect, so that it might get merged into the project?

[2021-09-02 17:20] edbzn commented on #114
@CaffeinatedCodeMonkey great, I'm excited to see your work! You should open a pull request and we will continue the discussion there. Note that I'm in vacations so I will not be very reactive, I also would like to discuss and review with @yjaaidi because I think it could be a breaking change so we should establish a release plan. Thanks for your contribution guys.

[2021-09-02 17:49] CaffeinatedCodeMonkey commented on #114
@edbzn @yjaaidi Thanks! I've made the following PR: https://github.com/jscutlery/semver/pull/278.

[2021-09-06 18:43] miluoshi opened #281 "Allow empty versionTagPrefix"
Currently if I set value of `versionTagPrefix` to empty string, it is replaced with `"v"` in synced mode.

I believe the reason is that the property value is not checked against `undefined` [here](https://github.com/jscutlery/semver/blob/main/packages/semver/src/executors/version/index.ts#L33).

We are using tags in format `x.y.z` without `v` prefix and this prevents us from using this executor.

[2021-09-07 04:47] dianjuar commented on #170
Hello @yjaaidi and @edbzn.

I'm [ngx-deploy-npm](https://www.npmjs.com/package/ngx-deploy-npm)'s author. If there is anything I can help/adapt in my tool to help you support this, let me know 👍 . DM's are open.

[2021-09-07 09:13] edbzn commented on #281
Closed by #283

[2021-09-07 09:13] #281 closed

[2021-09-07 09:17] #129 closed

[2021-09-07 09:19] edbzn commented on #169
Closed by #256

[2021-09-07 09:19] #169 closed

[2021-09-07 09:20] edbzn commented on #215
Should be fixed by #256

[2021-09-07 09:20] #215 closed

[2021-09-08 12:07] WonderPanda commented on #218
I'm also running into this when trying to use `nx affected` to version all packages that have been changed. Falling back to a script that uses `--plain` as recommended by @CaffeinatedCodeMonkey but it would be awesome if this worked out of the box

[2021-09-12 17:51] promontis opened #292 "CI/CD"
I was wondering if you guys use this plugin in your CI/CD pipelines. Or is this plugin more something you run locally?

[2021-09-13 07:57] edbzn commented on #292
Hi,

Actually, we use semver by hand for our public projects but you can already use it in your CI, I just created an example with a simple GitHub action: https://github.com/edbzn/semver-ci

All you need to do is to configure the workflow:

[code]

 and activating the `push` option for semver:

[code]

 Let me know if it helps you.

[2021-09-15 05:32] #196 closed

[2021-09-28 20:39] edbzn commented on #216
@gabsmprocha @nicolashernandezamor-drd It's weird because the underlying package that creates the commit gets the `noVerify` option correctly. I need to investigate further, but I'm currently working on something else, I'm not against another hand for fixing this.

[2021-09-30 05:40] edbzn opened #314 "Break down standardVersion into smaller functions"
We need more control over the release process by creating multiple functions for:

- adding files to the stage,
- committing files,
- creating tags,
- updating changelog,
- _todo: complete the list_

This would allow more customization to handle cases like adding log for dependency bump (#114, #278), grouping independent projects into one commit (#61), and so on so far.

[2021-10-01 04:48] #236 closed

[2021-10-01 04:50] #218 closed

[2021-10-01 04:57] edbzn commented on #160
Should be fixed in 2.8.1.

[2021-10-01 04:58] edbzn commented on #236
Hi, this should be fixed in 2.8.1 using `--releaseAs=...` instead of `--version=...`.

[2021-10-01 04:58] edbzn commented on #218
Hi, this should be fixed in 2.8.1 using `--releaseAs=...` instead of `--version=...`.

[2021-10-04 10:12] edbzn opened #320 "Convert to standalone projects"
Convert semver to use v2 standalone project definition.

cc @Jefiozie

[2021-10-04 10:48] Jefiozie commented on #320
Done 😎

[2021-10-04 11:36] #320 closed

[2021-10-05 10:39] daton89 commented on #61
hi guys, I'm looking forward to have this grouping or single commit feature, do you have a plan for it?

[2021-10-05 12:25] edbzn commented on #61
@daton89 Yes, we are planning to do the grouping soon, first, we are focusing on post targets (#317), it will come next.
The single commit will come later because it needs a lot more work (related to #314).

[2021-10-05 21:23] edbzn opened #323 "Refactor `tagPrefix` chained ternary"
Extract and refactor logic related to the tag prefix.

https://github.com/jscutlery/semver/blob/a0691cc7ca514c0471d3a5d29cc81843d07666d5/packages/semver/src/executors/version/index.ts#L34

It should not use a chained ternary and also be extracted in a dedicated function.

[2021-10-06 08:17] edbzn opened #324 "Enable strict mode"
Enable strict mode in `tsconfig.base.json` and fix all compilation errors.

[2021-10-06 18:33] edbzn commented on #323
Hi @RaviTejaVattem,

I would expect a pure function that we can test in an isolated context:

[code]

This is easy to test, would you want to take it?

[2021-10-07 02:09] RaviTejaVattem commented on #323
Thank you for the explanation.

Sure I want to try.

I will create a draft PR. We will decide if I can do this after you reviewing it.

[2021-10-07 07:34] edbzn opened #326 "Improve logging"
Actually, the logging is made by standard version, we should first disable it and log ourself the following events:

- bump version from `{from}` to `{to}`
- output changes in `{projectRoot}/{path-to-changelog}.md`
- commit created
- tag `{tag}` created
- push success (if git push occurred)
- run postTargets `{postTargets}`
- postTarget `{postTargetName}` failure
- postTarget `{postTargetName}` su

[2021-10-07 08:06] edbzn opened #327 "Add missing options to `github` executor"
Some options are missing such as:

- draft
- title
- prerelease
- discussion-category
- repo

https://cli.github.com/manual/gh_release_create

[2021-10-08 09:05] edbzn opened #331 "feat(github): find a way to include notes only related to the last release"
For readability, it would be better to include notes only related to the last release.

[2021-10-08 09:26] edbzn opened #332 "feat(github): mention contributors in the release"
If you @mention any GitHub users in the description, the published release will include a Contributors section with an avatar list of all the mentioned users.

[2021-10-08 11:59] TriPSs opened #333 "Customize commit message"
Would be awesome if we could define a custom commit message or change the default template to also contain the target name, we now get a lot of commits like:
- chore(release): 2.1.3
- chore(release): 1.0.1
- etc

Would prefer to see something like
- chore(release): App one v2.1.3
- chore(release): App two 1.0.1
- etc

[2021-10-09 12:35] edbzn commented on #333
I changed the title to have something more generic.

[2021-10-09 19:01] benpsnyder opened #336 "Make more compatible with nx-dotnet"
I had to manually add: `"sourceRoot": ".",`

![image](https://user-images.githubusercontent.com/707567/136671002-722d95d4-6e34-443d-a905-ff8c6ac824da.png)

otherwise you get a failure when running `nx g @nx-dotnet/core:restore`

[2021-10-09 19:57] edbzn commented on #336
Would you create a PR to fix that?

[2021-10-11 07:01] #323 closed

[2021-10-12 03:56] vj-abishek commented on #324
I would like to work on this

What is the schema for project object
![image](https://user-images.githubusercontent.com/43115551/136888721-304ac128-5c31-4c97-9742-c0163b770260.png)

[2021-10-12 07:27] edbzn commented on #114
@CaffeinatedCodeMonkey We will merge your changes without the changelog, a refactoring work is needed for that and your changes are very useful.

[2021-10-12 08:00] edbzn opened #342 "Drop deprecated `toPromise` and use `lastValueFrom` operator"
Rxjs refactoring to drop the deprecated `toPromise` method in favor of the `lastValueFrom` operator.

[2021-10-12 13:30] CaffeinatedCodeMonkey commented on #114
@yjaaidi Thanks for this idea! I had not considered this approach, but it brings up some interesting questions, and it really depends on the implementation in NX:

1. Does the `--with-deps` flag scope the command to only those projects that contain the specified target? (I'm not sure how it could not.)
2. If so, does that mean that each project in the dependency graph would need to have the `versi

[2021-10-13 21:09] hinogi commented on #324
I'll give it a try.

[2021-10-13 21:44] hinogi commented on #342
Also, maybe this kind of thing helps with the replacement

![image](https://user-images.githubusercontent.com/4602609/137216798-658b9486-efc0-440f-919b-ee11ec057a7a.png)

[2021-10-14 09:46] yjaaidi opened #350 "chore: execAsync is prone to command injection"
`execAsync` is prone to command injection.
https://github.com/jscutlery/semver/blob/72299073299783f9f12ef2bf7ec979e659bcb7b8/packages/semver/src/executors/common/exec-async.ts#L6

We should replace `exec` call by `execFile`.
https://github.com/jscutlery/semver/blob/72299073299783f9f12ef2bf7ec979e659bcb7b8/packages/semver/src/executors/common/exec-async.ts#L12-L14

Also, github executor args like `

[2021-10-15 11:03] #324 closed

[2021-10-19 20:51] HassenHichri opened #353 "postTargets is running build target in watch mode"
Hi,
I have a Nx workspace with a publishable lib. I wanted to add your plugin to automatically publish new versions of this lib to npm registry. My idea is to use `nx run my-lib:version` to bump the package version then build the lib `nx run my-lib:build` and publish it `npm publish`. But when I add the build target as a `postTargets` and run `nx run my-lib:version`, it is running on watch mode.
<

[2021-10-20 08:26] HassenHichri commented on #353
Hi @yjaaidi,
I can have a look at it, any hints on how to make changes/build and test the plugin locally? I don't know exactly how Nx plugins really work 😅

[2021-10-25 14:04] #353 closed, assigned to nobody

[2021-10-26 08:39] garethdjohn opened #362 "semver:install fails on new Nx repo"
Steps to reproduce:

[code]

This results in the following error message:

`Cannot read property 'length' of undefined`

It looks like it is a result of this change that was recently made to packages/semver/src/generators/install/index.ts:

https://github.com/jscutlery/semver/commit/d31ccfe301970aa111667779644427448250fb52#diff-907c24e35f6d2263feb9823296198467be7bd7773c298f5448918eded42358b2

Work

[2021-10-27 05:02] #362 closed, assigned to nobody

[2021-10-28 18:29] yjaaidi opened #367 "🐞 `postTargets` don't trigger target dependencies"
`postTargets` should work just like targets which are run using `nx run` meaning that they should follow the `targetDependencies` described in `nx.json`.

IMHO, `@nrwl/devkit`'s `runExecutor()` should trigger target dependencies but it doesn't. Cf. https://github.com/nrwl/nx/issues/7560

If this isn't fixed in `@nrwl/devkit`, we have to figure out a workaround like running `nx run` like we run any

[2021-10-29 04:32] dianjuar opened #368 "Error when installing"
I want to test out your plugin with a dummy workspace, only with an Nx Plugin, and when trying to install I keep receiving the error `Cannot read property 'length' of undefined`

The error is the same if I use the prompt or this command -> `nx g @jscutlery/semver:install --syncVersions false --enforceConventionalCommits false`

![image](https://user-images.githubusercontent.com/7026066/139375898-1

[2021-10-29 10:55] #368 closed, assigned to nobody

[2021-10-30 18:01] nidomiro opened #370 "Executor @jscutlery/semver:github :: false schema types for draft and prerelease"
The schema file https://github.com/jscutlery/semver/blob/main/packages/semver/src/executors/github/schema.json contains two properties which should be defined as boolean instead of string:

- draft
- prerelease

Currently nx fails:
[code]

[2021-10-30 19:12] edbzn commented on #370
Thanks for the report, this would be fixed in `2.11.4`

[2021-10-30 19:12] #370 closed

[2021-10-30 21:51] edbzn opened #371 "GitHub executor should take GITHUB_TOKEN into account"
The GitHub executor does not take into account the `GITHUB_TOKEN` environment variable. The token should be used in order to authenticate the GitHub CLI in the CI.

[2021-10-30 22:02] edbzn commented on #371
Close as the CLI already takes into account the `GITHUB_TOKEN`

[2021-10-30 22:02] #371 closed

[2021-11-01 08:59] nidomiro opened #372 "Improve error message on invalid postTargets"
Currently the message for invalid postTarget strings is confusing. If I misspell the project part of the target ('misspelled:existing-target') I get a error-message like:

[code]

A more appropriate message would be something like 'Invalid target <target-string> listed in postTargets of <version-bumb-target-name>'

[2021-11-01 09:21] nidomiro commented on #367
I'm currently having this problem at https://github.com/nidomiro/ts-tools. My first try of a 'workaround' is to add the dependency-target, in my case the build target, at the top of the postTargets.
Is there an easy way to call the build target with an extra parameter like '--production'?

[2021-11-01 09:50] nidomiro commented on #367
My current workaround looks like this: https://github.com/nidomiro/ts-tools/commit/de6a73b2dde54f4a1913bbab589e41b3407fb7f4

[2021-11-02 13:58] yjaaidi commented on #114
@CaffeinatedCodeMonkey, in fact, that's the intended result given that all projects share the same tag and that semver is based on tags.

[2021-11-03 05:59] dianjuar opened #374 "Why semver pops new versions if there is only commits that do not trigger new version generation"
Semver is popping a fix version when there is nothing "new". All the new commits are `chore`, `docs`, `build` and `ci`.

You can see it on your own project's versions
![image](https://user-images.githubusercontent.com/7026066/140015528-b9965bd9-6a34-4d4d-bfe7-86aef2dcbbd5.png)

[2021-11-03 10:25] yjaaidi commented on #374
Hi @dianjuar, thanks for raising the issue.
In fact, the default bump when anything is changed is a "patch" which makes sense as changing the docs or restructuring some code for instance should trigger a bump and a new release.

The default behavior of the Angular changelog preset is to only show `feat`, `fix` and `perf` as mentioned here https://github.com/conventional-changelog/conventional-chan

[2021-11-03 10:44] yjaaidi commented on #374
Actually, there is a weird behavior in `conventional-changelog-angular` where other type of commits are discarded from the changelog if they don't have notes:

https://github.com/conventional-changelog/conventional-changelog/blob/840d139c40a2c4e773794d794c34bc4dbfde27c2/packages/conventional-changelog-angular/writer-opts.js#L28-L58

[2021-11-03 11:04] yjaaidi commented on #374
Cf. https://github.com/conventional-changelog/conventional-changelog/issues/696

We could either suggest a PR that allows overriding the behavior by passing some options through the `context`,
or we could simply wrap the angular preset with a custom angular preset that overrides the current behavior.

[2021-11-03 20:25] dianjuar opened #375 "Semver is generating the same version"
We integrated continuous deployment on Nx Plugin [ngx-deploy-npm](https://github.com/bikecoders/ngx-deploy-npm) and we're using Semver and its `postTargets` feature to trigger the deployment.

For some reason, Semver generates the same version when there is nothing new, you can see it here ->
https://github.com/bikecoders/ngx-deploy-npm/runs/4091615454?check_suite_focus=true

This causes an unwant

[2021-11-03 22:02] edbzn commented on #375
I checked your repo and saw nothing suspicious, if it's not reproducible locally the issue certainly comes from the CI, but I can't figure it out. Previously I had a similar issue caused by a wrongly formatted tag, semver was failing to decide the last version. I have to dig a bit.

[2021-11-04 03:03] dianjuar commented on #375
I wanted to publish a fix but it continues to bump the same version, the 3.0.4

https://github.com/bikecoders/ngx-deploy-npm/runs/4100180134?check_suite_focus=true

I haven't test it out locally

[2021-11-04 13:40] edbzn commented on #374
Note that `chore` type is no more allowed in `conventional-changelog-angular` nor `@commitlint/config-angular`, cf: [see the list](https://github.com/angular/angular/blob/22b96b9/CONTRIBUTING.md#type).

[2021-11-05 16:55] dianjuar commented on #375
I got it.

The problem was with my repo; for some reason, the last tag wasn't correctly; it wasn't on the commit that should be on master, so I just deleted the tag, generated by hand again in the right commit, and pushed it to master. After that, everything is working as expected.

The steps to catch the error were, clone the repo in a separate folder and check for the tags on master; there, I re

[2021-11-05 16:55] #375 closed

[2021-11-05 17:51] edbzn commented on #375
Interesing, thanks for the explanation that could probably help us debugging such behavior in the future.

[2021-11-11 09:25] ChazUK opened #383 "Nx install can't format .commitlintrc.js"
When installing @jscutlery/semver with `nx g @jscutlery/semver:install` an error is listed in the console.

[code]

`.commitlintrc.js` actual contains JSON data, not valid JavaScript, so the file should be renamed `.commitlintrc.json` to allow nx to automatically format it.

[2021-11-11 09:53] #383 closed

[2021-11-11 09:54] edbzn commented on #383
Hi, just fixed this. Thanks for reporting!

[2021-11-14 04:32] jafaircl commented on #251
Any updates on this? Also running into this issue.

[2021-11-14 10:03] edbzn commented on #251
It's hard to tell without replication but I think this can occur for the following reason, the tag was created but not targeting any `mainBranch` commit checksum. I would investigate more if I can dive into the Git history.

[2021-11-14 13:45] jafaircl commented on #251
Ok here is a reproduction repo: https://github.com/jafaircl/semver-testing

When running `nx run new-lib:version --releaseAs=minor` on the `attempt-new-minor-version` branch, here is the error I get:

[code]

Is it possible that using "squash and merge" to merge pull requests is causing it?

[2021-11-14 14:03] edbzn commented on #251
Yes, I think this is the problem, the tag is created with a commit reference that disappears when you squash and merge. Tags are not updated on their own. IMO you should always version on the main branch.

[2021-11-14 15:27] jafaircl commented on #251
Ok. My solution to this was to switch to the main branch, delete the tag for the release with `git tag -d my-library-0.1.0` and then run ` nx run my-library:version --releaseAs=minor` once to create the 0.1.0 release. Now, when I try to create a 0.2.0 release, everything works as expected. Thanks for your help!

[2021-11-17 14:12] CaffeinatedCodeMonkey commented on #374
I ran into an issue that I feel is related to this issue, which I brought up in a discussion: https://github.com/jscutlery/semver/discussions/385. Essentially, if the first command in the following has an expected version bump, then each of the subsequent commands will result in patch versions, without any changes:
[code]

[2021-11-19 20:26] mortalapeman opened #389 "Initial Version Creation Fails on Some Git Repositories"
# Summary

When first running `npx nx run <project>:version` on some repositories where the command `git rev-list --max-parents=0 HEAD` returns more than 1 commit, the target fails with a "bad revision" error.

# Steps to Recreate

1. Create a git repo with an initial commit
2. Create a second git repo with a commit and some history
3. Use some stack overflow post to merge the two repos together t

[2021-11-21 15:46] #251 closed

[2021-11-22 12:05] #372 closed

[2021-11-23 14:20] SunStupic commented on #292
@edbzn Appreciate this useful tool.

I cannot make your snippet work because the master branch is protected. I tried to generate a token to use but still failed. Any thoughts?

[code]

[2021-11-25 14:36] Michsior14 commented on #114
Is there any possibility to have the lerna `fixed` mode behavior using this package? I mean that non-major changes bumps only the package itself and it's dependants?

[2021-11-28 09:54] wSedlacek commented on #333
Being able to add `[skip ci]` is important so that GitHub actions doesn't preform and infinite loop

[2021-11-28 10:11] wSedlacek commented on #333
If any is interested I created a patch that can be applied with `patch-package` until this is fixed.
[code]

[2021-11-28 12:58] #333 closed

[2021-11-28 13:33] edbzn commented on #216
Hi, finally fixed this. Thanks for reporting!

[2021-11-28 13:33] #216 closed

[2021-11-28 20:48] wSedlacek opened #397 "Feature: Configure commit types"
`standard-version` allows for configuring types ie
[code]

Some projects may prefer to configure how the commit types are used to generate change logs.
This is a lot to have all in the `projects.json` or even the `workspace.json`
Perhaps a slimer interface could be used?
Or perhaps the configuration could be read from `.versionrc` or maybe even `commitlint.config.js` if type configurations exist t

[2021-11-28 20:49] wSedlacek commented on #389
I was also noticing that the initial creation was failing unless I manually created a `CHANGELOG.md` for each project.

[2021-11-28 20:52] wSedlacek opened #398 "`--releaseAs` returns `Nothing changed since last release.`"
When doing a `--releaseAs` the past versions are relevant to wether I want the release to run or not, well I guess unless there is a conflict with the versioning.

I do still want a change log created, if changes exists, but under the context of `--releaseAs` I don't want the lack of changes to prevent me from releasing a certain version.

[2021-11-28 20:56] wSedlacek opened #399 "Feature: Ignore hidden types when calculating if anything has changed"
Under the context of a normal release, (not a releaseAs) I want the release to only happen if there are changes that require a release. Typically this this is going to be `feat` and `fix`, however one could make the argument for `pref`.

With the current version, it seems to only look at if there are commits, not what type there are.

[2021-11-28 21:05] wSedlacek opened #400 "Feature: `postTargets` run many support"
It would be fanatic for those using the the workspace versioning to be able to specific post targets that match all projects.
This would be useful for things like npm release targets.

An idea is something like `*:release` would match `a:release`, `b:release` etc.
I would expect it to work like the `nx run-many` command where it only matches projects where that target exists and skipping any where

[2021-11-30 09:14] edbzn commented on #397
This is a must-have! I like the idea of having a `.versionrc`, that's something we could benefit from in the future.

[2021-11-30 09:18] edbzn commented on #399
This is a great idea! Could be done after #397.

[2021-11-30 20:33] wSedlacek commented on #254
@edbzn I am having this same issue on another project, what was the solution?

[2021-11-30 21:10] edbzn commented on #254
Should be fixed the Angular devkit is not a dependency anymore. Can you give me more context?

[2021-11-30 21:20] wSedlacek commented on #254
I am trying to fix https://github.com/ngneat/tailwind
And the end to end test give me this error.

So your solution was just not to use the Angular DevKit but use the Nx one instead?

[2021-12-02 09:56] edbzn commented on #254
The end to end test? What's the point with semver?

Should be transparent for you, we are using the Nx devkit instead of the Angular one.

@wSedlacek Can you send me an URL, something I can dig into to debug?

[2021-12-02 16:20] wSedlacek commented on #254
😅 The question was unrelated to semver, however when I searched up the error on Google this issue was literally the only thing I found.
Haha, I think I got it fixed now though, thank you for your help!

[2021-12-04 21:09] TheUnderScorer opened #402 "Option to skip changelog generation for independent versioning mode"
Hello!

Is there any reason why for independently versioned projects the skip option for changelogs is not supported? I've checked the code and found this 😄 :

https://github.com/jscutlery/semver/blob/5799d016dbd143341966c62a9936e1201fa67d95/packages/semver/src/executors/version/index.ts#L96-L104

Would it be possible to change that? I can even submit PR with it, but I'm asking first to know if th

[2021-12-04 23:29] edbzn commented on #402
Hi, never needed it so it's not supported, sure you can open a PR.

[2021-12-05 17:18] wSedlacek opened #405 "Better E2E Testing"
The E2E testing in this project is configured with some custom utilities to configure the test project, this works well enough for testing the version executor, however post targets are difficult to test in this way as their executors are missing.

Nx has many utilities to help with testing, perhaps they have something that could improve the e2e testing so that postTargets can be properly tested?

[2021-12-05 23:08] wSedlacek opened #406 "Feature Request: Exclude version header from relative change log notes"
The additional version header is unnecessary within the context of GitHub Releases as this information is already present in the release.

Example:
https://github.com/jscutlery/semver/releases/tag/semver-2.15.0
[code]

[2021-12-08 22:47] TriPSs opened #408 "`nx run workspace:version` does not generate changelog"
Running `nx run workspace:version` does not generate changelog or updates the package.json files inside the repo.

If I delete `https://github.com/jscutlery/semver/blob/main/packages/semver/src/executors/version/version.ts#L34` till `https://github.com/jscutlery/semver/blob/main/packages/semver/src/executors/version/version.ts#L45` it works as expected.

[2021-12-12 02:24] JohnHillegass commented on #408
Seeing this generate a changelog in the root but not the package that changes when running `nx run-many --all --target version`. Wondering if this could be a related bug.

[2021-12-14 06:24] nidomiro opened #411 "Add option to add `last-release` tag"
The `last-release` tag should always be on the commit with the latest (as in time, not version-number) release.
The tag is used to calculate the changes since the last release.

Currently I'm setting the tag as an extra CI-step, but this has the disadvantage that the tag will be moved whether there is a new release or not.

The best way I came up with would be to set the `last-release` tag in the

[2021-12-14 06:31] nidomiro opened #412 "Changelog is always empty"
I need help in figuring out why my Changelog is always empty: https://github.com/nidomiro/ts-tools/blob/main/packages/config-helper/CHANGELOG.md
Also every version bump is a patch-bump, maybe this correlates with the Changelog issue.

What am I doing wrong?

[2021-12-15 09:18] christophediprima opened #414 "Another git process seems to be running in this repository"
I am trying to run this command on my lerna monorepo and I always have issues with `'/.git/index.lock': File exists`.

`yarn nx run-many --target=version --all --trackDeps`

It looks like it is trying to commit files in two independent packages at the same time.

My nx.json looks like this:

[code]

[2021-12-15 09:39] christophediprima commented on #414
OK I guess posting this issue helped me on finding the solution!

I just added `parallel=1` to the command.

It would be nice to mention this in the documentation as I guess this is a common use case.

[2021-12-22 09:33] vltansky opened #415 "Enforced use of husky"
Hi, currently this package enforce to use `husky`, but some projects may prefer other packages, for example, https://github.com/toplenboren/simple-git-hooks

[2021-12-22 10:07] aderito7 opened #416 "Feature request: Suppress stderr"
Good day, team

Currently I'm running versioning of script within my nx monorepo against Azure Pipelines.
`nx version my-project` is being run in conjunction with other scripts such as `npm install`, etc, which should they fail for some reason I wish for the task to fail as well.
At the moment jscutlery/semver is writing outputs to stderr, which I was hoping to request a feature to suppress (if no

[2021-12-24 12:00] hoonoh opened #417 "changelog on dependency update is empty"
Hi, I am very new to this plugin and have a question on changelogs. (Not sure, but it could be related to #412)

I noticed that changelog description is generated as expected when there are commits directly affecting the versioned app or lib, but when there are changes with the dependencies, the description (commit messages) which relates to the dependency is always missing.

This often times resu

[2021-12-28 12:38] #350 closed

[2021-12-28 23:30] nicolashzmor opened #418 "Weird behaviour when tagging with semver:version"
I'm trying to configure a GitLab-ci pipeline for a GitHub project. (Not sure if relevant, but just in case)

I'm using the following executors' config:

[code]

and getting the following error:

[code]

Any lights on this issue will be really appreciated :)

[2021-12-29 09:43] edbzn commented on #418
Hi @nicolashzmor, it seems the tag `nx-appwrite-0.1.0` already exists on your Git remote, so the executor fails to create the tag as it cannot overwrite it. If you remove the tag on GitLab UI and then rerun it should succeed. Let me know if it helps you.

[2021-12-29 11:57] nicolashzmor commented on #418
He @edbzn that's the weird behaviour. There are no tags on the project yet.

![Screen Shot 2021-12-29 at 8 55 46 AM](https://user-images.githubusercontent.com/66749276/147659723-3920470f-50d7-4f00-9291-6e4522811b98.png)

Actually the program recognize that:

[code]
and later it says that the tag already exists 😕

[2021-12-29 12:06] edbzn commented on #418
Agree it's weird, sources are closed? I would need to inspect the repository.

[2021-12-29 12:27] nicolashzmor commented on #418
Not at all, is an open project.

https://github.com/robbiesdream/core

[2021-12-29 12:28] nicolashzmor commented on #418
If you'd like to see the pipelines: https://gitlab.com/doesrobbiedream/core/-/pipelines

[2021-12-29 12:29] nicolashzmor commented on #418
I'd be happy to join you in a live review, maybe I can be of assistance. Just let me know.

[2021-12-29 13:22] edbzn commented on #418
There's an existing tag `nx-appwrite-0.1.0` but the release commit was not pushed, you should remove the tag or retag a commit that is currently pointing to a `main` reference and then rerun the release.

[2021-12-29 13:56] edbzn commented on #417
Hi, this needs refactoring to be able to do this, cf #314. Definitely a feature we would like to have.

[2021-12-29 13:59] edbzn commented on #416
Hi @aderito7, I'm not sure to get it, semver writes to `stderr` even if it succeeds?

[2021-12-29 14:04] edbzn commented on #415
Hi @vltansky, husky is the most commonly used tool, which benefits does simple-git-hooks bring over husky?

[2021-12-29 14:06] edbzn commented on #412
Hi, that's the actual behavior, we need refactoring to handle deps commit message cf #417 & #314.

[2021-12-29 15:15] nicolashzmor commented on #418
Oh okay, I see now that the tags are written inside the Gitlab repository, but never pushed to Github.
Not being able to push to Github though. When trying to push the tags it returns a 403 error. 😕

[2021-12-29 19:27] rodrigomata commented on #292
You can set a specific actor and then on the branch rules, bypass this protection for that user. Not the best solution but it works.

![Screen Shot 2021-12-29 at 13 26 46](https://user-images.githubusercontent.com/15259836/147696842-24e94057-f178-4b4f-b880-62591142a955.png)

[2021-12-30 02:57] hoonoh commented on #417
Hi, thanks for the info. I will watch #314 and try helping out whenever I can.

[2021-12-30 02:57] #417 closed

[2021-12-30 08:55] edbzn commented on #418
I've never really experienced mirror repos, do the versioning work in GitLab now?

[2021-12-30 09:02] edbzn commented on #411
Hi, I agree this could be useful. For now, we do this in the CI as an independent step in our workflow. It could be an executor used along with post-targets.

[2021-12-30 09:40] edbzn commented on #292
Our `main` branch is also protected and we use the [automatically generated `GITHUB_TOKEN`](https://docs.github.com/en/actions/security-guides/automatic-token-authentication) that allows us to push.

[2021-12-30 18:17] nicolashzmor commented on #418
I decided to fall back to Gitlab and mirror GitHub by pushing... because it was a mess.
I still have the same problem though.

[code]
I cannot understand where is the tag being stored, as the project doesn't have any tag registered, I deleted cache from the pipelines.

I don't understand how if the push is never submitted, semver still has some state that's reading to say nx-appwrite-0.0.1 is alre

[2021-12-30 18:18] nicolashzmor commented on #418
The code repo is now: https://gitlab.com/doesrobbiedream/nx-core

[2021-12-30 18:34] nicolashzmor commented on #418
Just to clarify: The tag is actually there but is not accessible for cleanup.

I added this just to keep going, but this is not a good approach I assume.
[code]

But this states that the tag is actually there because it does delete it (would fail otherwise).

But, could this be prevented somehow?
Do you understand why is there a persisted state of a tag is haven't been pushed?

[2021-12-31 03:27] nicolashzmor opened #419 "Feature request: Update tag on the built package."
I have the following scenario.

I want to `lint`, `test` and `build` in prod mode all the affected packages beforehand because before going into release mode and creating tags and updating the package.json or building the docker image, etc, I want to be sure that everything is in order.

The issue is that while the tag is created and pushed to the repository correctly, the package was built before

[2021-12-31 10:04] edbzn commented on #419
@nicolashzmor What about rebuilding after the release step? The downside is that you build twice (one before the release to check the build correctness and one after to publish an updated `package.json`). That's what we do in this repo.

One other way would be to use the ngx-deploy-npm `--package-version` option along with post-targets interpolation, this option will write to your distribution `pa

[2021-12-31 17:13] maxmousse opened #420 "Synced mode seems to be incompatible with nx 13 and project.json files"
Hi everybody,

We have some projects using jscutlery/semver, and as we are migrating to nx 13 and the new `project.json` configuration structure, we are encountering the next problem: we cannot have a `project.json` at the workspace level because it causes some problems with the Nx cli (commands that use the dependencies graph are looping).

Did some of you encountered the same problem ?

For now,

[2022-01-01 15:24] nicolashzmor commented on #419
Yeah, I'm actually doing as you are. I like the packageVersion idea though, but again... Is a little bit sketchy to touch the dist once is built.

Thank you for everything! :)
Everything seems to be working right now.

[2022-01-01 15:24] #419 closed

[2022-01-03 00:45] gabsmprocha opened #421 "Error: src refspec main does not match any"
Hi! Im using GitHub Actions as my CI/CD, so i have this job:

[code]

I also have a target on my project.json

[code]

when i executed the workflow, i receive this following message:
**ℹ Run `git push --follow-tags origin HEAD` to publish
Error: error: src refspec main does not match any**

It's like the executor doesn't recognize the baseBranch parameter
I check my branch name with **git ls-remot

[2022-01-03 09:15] edbzn commented on #421
Hi @gabsmprocha, did you find a solution?

[2022-01-03 12:34] gauravmalik1011 opened #422 "Support for root level version bump with independent app change log generation"
In our project we are having specific use case to update version on root level instead of maintaining it on app level. Please suggest if this can be achievable like below steps or can skip lifecycle steps similar to standard-version
1. Generate changelog on app level based on affected apps
2. If there is change in dependent libs include dependent lib changelog link in app level change log
3. Versi

[2022-01-04 23:47] hcharley commented on #420
I believe I'm running into this too.

[2022-01-04 23:55] hcharley commented on #420
For my use case, I don't version the apps, so just changing the `root` from `.` to `libs` worked:

[code]

You might notice I'm not using the project.json scheme. Others might run into a similar situation as me

[2022-01-05 21:16] edbzn commented on #408
Hi @TriPSs, I tested and it works, did you correctly set the `--syncVersions` flag?

[2022-01-05 21:18] TriPSs commented on #408
I did not do that? Is that something that is required now?

I'm currently downgraded to `2.13.3` as I did not have the issue with that one.

[2022-01-05 21:26] edbzn commented on #420
Hi there, in your `workspace.json` file you can mix standalone configuration for your projects and the virtual "workspace" project for versioning the whole repo.

[code]

Hope it helps.

[2022-01-05 21:30] edbzn commented on #408
I assume you are using the sync mode right? It was always required, the default mode is independent, you have to pass the flag.

[2022-01-07 23:00] TriPSs commented on #408
Sorry for the late reply, I was indeed using `syncVersions`

[2022-01-08 17:40] edbzn commented on #408
I'm not able to reproduce, can you try the latest version and tell me if it's still happening?

[2022-01-08 23:26] TriPSs commented on #408
I also have it with the latest version.

[2022-01-09 07:55] edbzn commented on #408
Does the repository is open?

[2022-01-10 08:59] edbzn commented on #402
@TheUnderScorer This is fixed in `2.17.5`, thanks for reporting this.

[2022-01-10 08:59] #402 closed

[2022-01-10 11:32] Nxtivision opened #424 "Bump to a specific version"
Hi,

First, thanks for this very useful plugin which helps us a lot! 👍

I already have some versions available for some internal projects, already published (e.g.: project-one-0.2.1)
I would like to know if it is possible to bump directly to a specific version (e.g.: project-one-13.0.0)
We would like to define major versions with the same major version of Angular ("the entire major version of this

[2022-01-10 12:54] pavandixit93 commented on #408
I also have the same error with the latest version. FYI, I have angular.json file in codebase.
![nx-run-workspace-json-error](https://user-images.githubusercontent.com/21095558/148769150-d5710153-0510-41bb-abd7-0e0d069fb110.png)

[2022-01-10 13:16] splincode opened #425 "[Feature]: support replace projectName in postTargets field"
[code]

it's works for `"commitMessageFormat": "chore(${projectName}): release version ${version} [ci skip]",`

but not work for `"postTargets": ["${projectName}:publish"]`

[2022-01-10 21:33] nidomiro commented on #412
Sometimes it displays the commits in the changelog.
On a first look it seems to correlate with breaking-change commits: `feat(abc)!: my desc`.
Version config-helper@0.3.1 was a breaking-change, but not recognized as such by semver.

[2022-01-11 14:21] splincode opened #426 "[Feature] support ignore changes for publish"
When I used lerna I had such an opportunity in `lerna.json`

[code]

it would be great if the plugin could also do this

[2022-01-13 09:47] esakal opened #427 "out-dated peer dependencies between repository libraries"
Hello,
Thanks for the great library. We need an advice.

We have 3 libraries, each has its own version. this is how we setup each library:
[code]

Our setup is aligned to the suggestion in [readme.md](https://github.com/jscutlery/semver#triggering-executors-post-release), but we noticed that in NPM packages we have outdated peer dependencies between our libraries.

It happens because this library

[2022-01-13 17:45] christophediprima commented on #397
Hey I love that idea! What is the status for it?

[2022-01-14 09:19] sbeugen opened #428 "Feature Request: Prereleases with version bump depending on commit messages"
### Current behaviour
Currently it is only possible to do a prereleaes with a specific version bump (`preminor`, `prepatch`, ...). So commit messages are  not considered when you provide the option `--releaseAs`.

### Desired behaviour
There should be an option to release a prerelease version which lets semver decide which version bump to perform depending on the conventional commit messages.
E.g.

[2022-01-14 09:30] aderito7 commented on #416
@edbzn , it would appear so. At least the pipeline fails due to this

[2022-01-14 17:56] edbzn commented on #416
@aderito7 can you give the output?

[2022-01-14 22:35] aderito7 commented on #416
![7c96096268498e5cd599c85cbb1b14b89f9206844f0911ede4a98342716385ef](https://user-images.githubusercontent.com/16321230/149594071-b1aff094-6f18-4987-a2b3-bb6aedb12e6d.png)

[2022-01-17 19:03] Jack-Barry opened #429 "Request to allow skipping commit if no files changed"
On our team, we prefer not to keep a `CHANGELOG.md` running, and rather just rely on GitHub releases so that the release notes aren't scattered in several places.

When running with both the `--skipRootChangelog` and `--skipProjectChangelog` flags though, the commit is still attempted and fails since there's nothing staged.

It would be nice to have this tool skip attempting to make a commit (stil

[2022-01-19 04:46] wSedlacek opened #430 "`package-lock.json` out of sync after version bump"
When using npm as a package manager the `package-lock.json` will become out of sync with the `package.json` after a version bump.

The `package-lock.json` contains a copy of the `package.json` used to generate it, so any change to the `package.json` requires a `npm install` to keep it in sync.

Having a hook to run a `npm install && git add package-lock.json` after the version bump but prior to th

[2022-01-25 09:55] edbzn commented on #424
Hi @Nxtivision, sorry for the late reply I'm lazy at the beginning of this year. You can force the version you want to release and skip the automated versioning by using the `--releaseAs` option. The downside is that you cannot automatize this task, you will need to run the command by hand.

[2022-01-25 10:23] edbzn commented on #397
@christophediprima No progress has been made here, definitely need time or contributor help.

[2022-01-25 10:26] edbzn commented on #408
@pavandixit93 Can you share the repo or a minimal reproduction?

[2022-01-25 14:52] rtkac opened #434 "Feature: Configure changelog commit and issue url format"
Hi, is it possible to add configuration for generated CHANGELOG?
Same as it has [Standard Version](https://github.com/conventional-changelog/standard-version#configuration) in `.versionrc` config file.

The problem is that the Changelog does not have correct url of the Bitbucket commits/tags compare and no url of the Jira tickets.

**EXAMPLE OF USAGE:**
[code]

It will be great feature, thanks!

[2022-01-26 08:57] christophediprima commented on #397
@edbzn I got the message and probably have a look soon! :)

[2022-01-26 14:59] atomicrobokid opened #436 "Docs: include ALL notes"
Hello,

Firstly thanks for this plugin, it's exactly what i've been looking for!

I'm wondering how you include all git messages from all conventional commits when you generate a release?

I can't work it out from the README file, under "Only new notes" you have an identical block of code as an example as the one above it:

[code]

Removing `generateNotes` does nothing. Git releases show only the

[2022-01-28 13:43] the-ult commented on #420
This seems to result in:
[code]

when running:  `nx workspace-lint && nx lint`

[code]

[2022-02-01 10:14] edbzn commented on #436
Hi, I think it's related to #397. Does it?

[2022-02-01 10:23] edbzn commented on #428
Looks like related to this discussion #385.

[2022-02-01 10:24] edbzn commented on #426
Would be useful I agree!

[2022-02-01 10:25] edbzn commented on #425
Would be nice to have!

[2022-02-01 10:41] edbzn commented on #427
Semver does not support bumping peer dependencies in the workspace (like Lerna does). It could be a new feature that we can discuss.

[2022-02-01 17:26] dbpieter commented on #427
For my use case this is pretty crucial as well! I'm mainly using nx + semver as a build tool for an angular library. If I make at change to a library and then also version and publish it's dependants (through nx affected) it should also update the peerdeps. Otherwise consumers won't know which version of peer deps to install and always get warnings on it.

[2022-02-01 19:19] Jack-Barry commented on #429
@edbzn Good point - in some of our projects we don't bother updating version in `package.json` because an app we're building/deploying is a Webpacked bundle or something like that, and a tag is sufficient to be able to find the code to rebuild a specific version from.

For NPM modules/packages it makes sense to update the `package.json` since it ships with the package to the registry, but for apps

[2022-02-03 09:52] the-ult commented on #420
@edbzn any idee what could cause the above error?
Atm the _fix_ seems to be: `"root": "packages",` but this results in having to copy the newly generated `packages/CHANGELOG.md` back to the root, before `push` / `publish`

`nx.json`
[code]

[2022-02-03 10:25] edbzn commented on #420
I quickly checked but found nothing relevant. I think it's time to drop the sync mode root hack and really think about #98.

[2022-02-03 14:37] mikheevm opened #438 "fatal: cannot lock ref 'HEAD': is at ... but expected ..."
Hey!

We're trying to integrate nx/semver to automate releases and build only changed applications, but having a small problem with the release step. When running `version command` in the runner it exits with this error:
[code]

Link to the run - https://github.com/mikheevm/safe-react-apps/runs/5052929272?check_suite_focus=true
The workflow - https://github.com/mikheevm/safe-react-apps/blob/develo

[2022-02-03 20:50] mikheevm commented on #438
I think I managed to work around the issue by disabling parallel execution, but for some reason, now it fails at pushing changelog and tags:
[code]
https://github.com/mikheevm/safe-react-apps/runs/5058001439?check_suite_focus=true

The command `standard-version` used to get the branch name is `git rev-parse --abbrev-ref HEAD.` I'm not sure why it resolves to `development.` I even hardcoded ref for

[2022-02-05 00:21] wSedlacek commented on #436
The `generateNotes` uses the GitHub CLI which only goes off of PRs.
The `${notes}` is new notes added to the `CHANGELOG.md` in the `version` step.

I have been thinking about this recently and I think we can improve the way the `${notes}` work, I might take another pass at it sometime soon @edbzn

[2022-02-07 11:46] mikheevm commented on #438
The problem above got fixed by changing the default branch from `development` to `main`

[2022-02-07 11:46] #438 closed

[2022-02-09 15:45] aderito7 commented on #416
Bump on this one.
Same issue is being experienced on gitlab pipeline
This has required adding:
[code]

`ERROR: Job failed: command terminated with exit code 1`

Unfortunately `allow_failure` suppresses **all** errors.

[2022-02-09 20:54] edbzn commented on #436
@wSedlacek Nice! Excited to see what you have in mind.

[2022-02-11 18:00] maheshambiga opened #440 "Error: error: src refspec main does not match any"
The following error is shown when the versioning command is run,
[code]

[code]
It works as expected when the same command from the log is run.
[code]
Running **git push --follow-tags origin feature/versioning** in CLI works as expected.

[2022-02-11 18:21] edbzn commented on #440
@maheshambiga What is your default branch? `main` branch seems not to be your default branch.

[2022-02-11 18:24] maheshambiga commented on #440
@edbzn - ```main``` is not my default branch. I am expecting the changes to be pushed to the current upstream branch.

[2022-02-11 18:28] maheshambiga commented on #440
@edbzn  Setting ```--baseBranch``` seems to have solved the issue.
Closing the issue. Thank you.

[2022-02-12 11:56] gauravsoni119 commented on #434
I think this is more or less related to #397 issue. @edbzn is there any planning to support `.versionrc` file in the upcoming versions.

[2022-02-15 12:54] limonte opened #442 ""Nothing changed since last release." instead of release"
I'm unable to trigger the releasing process from CI, it always says "Nothing changed since last release"

Here's the commit history:

<img width="528" alt="CleanShot 2022-02-15 at 15 50 50@2x" src="https://user-images.githubusercontent.com/6059356/154065563-db2bd812-80fd-4f18-a9bc-afa908f9f0f9.png">

### Expected behavior

The new patch release of `eslint-config` package is made because the last c

[2022-02-15 15:15] edbzn commented on #442
@limonte A new release is only created if one file under the project root is modified. Files in your workspace root won't trigger a new release, even if you specified the scope in the commit message.

[2022-02-15 16:12] cakeinpanic opened #443 "getting "Failed to determine dependencies" with nx11"
Hi, I'm getting `Failed to determine dependencies.` error when running `nx run-many --target=version --with-deps`

I debugged into your code and found out that this method throws an error `TypeError: (0 , project_graph_1.createProjectGraphAsync) is not a function`

[code]

I assume that the package is incompatible with nx 11 which I am using
Tell me please which version of your package is compatib

[2022-02-15 19:32] limonte commented on #442
That was it, thank you for your amazing work in maintaining this project @edbzn!

[2022-02-15 19:32] #442 closed

[2022-02-16 08:47] aderito7 opened #444 "Feature Request: Override initial commit hash for fallback"
Hi guys, was creating a new application to add to a long running monorepo.
For quick checkout we are shallow cloning the repository, which means the initial commit is never available

Could we override this with the `--base` input instead to avoid the following:
**New version will be calculated based on all changes since first commit.** ?

[code]

[2022-02-16 09:23] edbzn commented on #443
Hi @cakeinpanic, are you using the `--trackDeps` option with semver? I'm working on a fix to support Nx 11.

[2022-02-16 09:25] #440 closed

[2022-02-16 09:46] cakeinpanic commented on #443
Hi, thank you for fast response!
yes, I have `trackDeps` in my `workspace.json`

[2022-02-16 10:45] #443 closed

[2022-02-16 11:08] edbzn commented on #443
@cakeinpanic this has been fixed in [2.18.2](https://github.com/jscutlery/semver/commit/19b3e56b933b62024f6d5eb6dd9ad55592c5a781), thanks for reporting this.

[2022-02-16 22:11] edbzn commented on #434
@gauravsoni119 Nothing planned for this but contributions are welcome!

[2022-02-17 06:50] nurbashanghai commented on #418
Did u try to delete all local tags? I also had this issue, but then I just cleaned all local git tags on my machine
`git tag -d $(git tag -l)`
And it worked.
Im not sure if it helps, but hey try it

[2022-02-17 12:35] nicolashzmor commented on #418
hey @nurbashanghai, yes, actually in local I don't have this problem. My problem is that I'm using a CI pipeline, so I need to run that command to ensure that there are no local tags on the pipeline. There are two things there:
The pipeline is not stateless and the _remove ghosts tags_ step seems unnecessary to me...

[2022-02-18 08:19] edbzn commented on #418
@nicolashzmor Maybe the tag was pushed to another ref than your base branch and therefor is not detected by semver but git throws when trying to create the tag.

[2022-02-19 15:04] Bielik20 opened #447 "🐞 Empty release when chore after fix/feat"
## Context

We have `project-foo` and `project-bar`. `project-foo` depends on `project-bar`:

[code]

When we make commits (order doesn't matter):

* chore: change to project-foo
* feat: change to project-bar

It will result in:

* minor release for `project-bar` - which is correct
* patch release for `project-foo` - which is wrong since `trackDeps` is `false` by default
  * This also results in e

[2022-02-19 15:12] Bielik20 commented on #412
I have notices that using `!` doesn't work. You can try and commit like so:
[code]

[2022-02-19 16:19] Bielik20 opened #448 "🐞 preid/channels do not work correctly"
When you have commits (first is the newest):

* chore(my-project): release version 1.1.0
* chore(my-project): release version 1.1.0-beta.0
* chore(my-project): release version 1.1.0-alpha.1
* feat(my-project): add something more
* chore(my-project): release version 1.1.0-alpha.0
* feat(my-project): add something
* chore(my-project): release version 1.0.0

Changelog for `1.1.0-beta.0` and `1.1.0` w

[2022-02-21 16:37] cakeinpanic commented on #443
thank you, @edbzn, works like a charm!

[2022-02-22 18:31] kurtinatlanta opened #449 "2.19.3 fails with Error: fatal: pathspec 'undefined' did not match any files"
I am using npm 8.5 and the --legacy-peer-deps switch when running npm install.

My environment: @nrwl/* 13.8.3, @jscutlery/semver 2.19.3.

This is the version entry in project.json:
[code]
Here is the stack trace (with sanitized root paths):
[code]
I'm going to rollback to the previous release and see if that helps. What else can I look for that would help?

Rolling back to 2.18.2 makes the issue

[2022-02-23 22:33] DanielRivers opened #450 "Unable to release version"
When I try to release a version on a fresh install I am getting the following error

[code]

It looks like chore has been removed from the allowed values.

@nrwl/cli: 13.8.3
@jscutlery/semver: "^2.19.3

[2022-02-24 01:19] wSedlacek opened #451 "gh 2.5.1 support"
In gh 2.5.1 the following warning was introduced.

[code]
https://github.com/cli/cli/pull/5104

So when using the `github` executor as a post target of `version` it will fail because the version has not been pushed to the remote yet.

[2022-02-24 01:21] wSedlacek opened #452 "gh 2.5.1 support"
In gh 2.5.1 the following warning was introduced.

[code]
https://github.com/cli/cli/pull/5104

So when using the `github` executor as a post target of `version` it will fail because the version has not been pushed to the remote yet.

[2022-02-24 01:27] #452 closed

[2022-02-24 01:28] wSedlacek commented on #452
Duplicate

[2022-02-24 09:12] edbzn commented on #450
Hi @DanielRivers, `chore` commits were removed from the angular conventional config and replaced by `build` or `ci`. If you want to support them you can disable the check when semver create the version using the `--noVerify` option, or you can also twik the commit lint config by removing `@commitlint/config-angular` and using `@commitlint/config-conventional` instead. In this repository, we are us

[2022-02-24 09:30] sashaaKr commented on #451
Getting the same error, any workaround for that?

[2022-02-24 10:10] #449 closed

[2022-02-24 10:13] edbzn commented on #449
@kurtinatlanta Thanks for the report, this has been fixed in 2.19.4.

[2022-02-24 10:34] edbzn commented on #451
In this repository, we push the tag before running the `github` executor using the `--push` option.

[2022-02-24 15:37] kurtinatlanta commented on #449
Much better. Thank you very much!

[2022-02-25 18:49] rodrigomata opened #454 "Breaking change by using ! is not working"
If I try to indicate a breaking change as it [can be done with Conventional commits](https://www.conventionalcommits.org/en/v1.0.0/#commit-message-with-scope-and--to-draw-attention-to-breaking-change), this plugin won't recognize it as such and will apply only the type.

For example `feat(scope)!: not backwards compatible` will only update `0.0.1` to `0.1.0` instead of the desired `1.0.0`.

[2022-02-25 18:50] rodrigomata commented on #454
[This](https://github.com/jscutlery/semver/issues/412#issuecomment-1046040237) is the workaround

[2022-03-01 14:00] cakeinpanic opened #455 "Option to only generate changelog"
Hi!
I made few releases manually and now I want to generate proper changelog for each version which were already published.

I put correct tags on corresponding commits, Is there a way to run this task to only parse git log and generate proper changelog?

[2022-03-01 16:13] edbzn commented on #455
Hi, I never had this scenario so I'm not entirely sure but I think it will parse commits since the last version and generate the changelog, it will skip the logs before the last version, the one you created manually, and therefore not insert them into the changelog file. At the moment there's no way to override the git reference from where it calculates the changes. A hack would be to temporarily

[2022-03-01 16:27] wSedlacek commented on #451
It would be here from what I can tell
https://github.com/jscutlery/semver/blob/ab15bb2bcfa1156c3846fb02db1f97b357ff28ae/packages/semver/project.json#L10

[2022-03-02 10:31] cakeinpanic commented on #455
@edbzn I found a way to do it – remove all local tags, then checkout each version commit from first to last, run `version`, stash, go to other commit, unstash, run `version`, repeat until success

It worked, thank you

[2022-03-02 10:31] #455 closed

[2022-03-02 10:34] cakeinpanic opened #456 "postTargets does not work in nx11"
Hi, it's me again :)
I have a configuration
[code]
but when I run ` nx run ui-components:version` , `ui-components:build` is not run after `version` finishes with success

My package.json currently:
[code]

[2022-03-02 12:42] apocaliss92 opened #457 "Make conventional changelog preset configurable"
Is it something reachable to make the preset used for conventional changelog configurable from outside? As of now it's hard coded to the angular one;

Thanks for your huge work!

[2022-03-03 15:54] edbzn commented on #457
Hi @apocaliss92, this is something we can introduce pretty easily by adding a new option. The default preset should still be `angular`, not that we also need to modify the install generator to ask which commitlint config should be installed. Would you want to contribute?

[2022-03-03 18:13] BioPhoton opened #458 "Setup CHANGELOG.md automatically"
When running `` the first time and ther is no `CHANGELOG.md` file present i get the following error:

Error: fatal: pathspec 'path/to/lib/CHANGELOG.md' did not match any files

In such a case we could create the file if it does not exist

[2022-03-04 02:44] greghopkins commented on #430
I am also experiencing this issue... After looking at the source, I see some options:

1) I am actually not versioning the "root" package anyway (it's marked private and doesn't get published)... I usually just remove `version` from the root `package.json` and, by extension, the root `package-lock.json`. I did this at first, but found that the root `package.json` is hard-coded into the `standard-v

[2022-03-04 13:36] iamstiil opened #459 "Prerelease version vs release version"
Hi,

when I run `nx run components:version --dryRun --trackDeps` I get the bump from `0.1.1` to `1.0.0`.
But when I run `nx run components:version --dryRun --trackDeps --releaseAs prerelease --preid next` I get the bump from `0.1.1` to `0.1.1-next.0`, but shouldn't it be `1.0.0-next.0`?

[2022-03-04 16:33] wSedlacek commented on #430
In my case I have locally installed projects that I am dog fooding via dependency entries like
[code]

These each have an entry in the `package-lock.json` with not only their versions but the versions of their dependencies.
To accurately update them after a version bump they need to have a full `npm install` run.

[2022-03-04 16:46] greghopkins commented on #430
@wSedlacek - so it looks like your original suggestion of a config flag that would run `installPackagesTask` would meet both our needs. :) pretty please, @edbzn ?

[2022-03-04 16:51] greghopkins commented on #430
@wSedlacek were you able to find a reasonable work-around? I'm at the point where I am having to add a step to my CD process that runs (`push` is set to `false`, obviously)

[code]
And I really hate this 😢

[2022-03-04 16:55] wSedlacek commented on #430
I am doing more or less the same thing.
[code]

I found that when I used `--amend` it would cause my next publish to run into issues with the git tags.

[2022-03-04 18:18] greghopkins commented on #430
@wSedlacek

Very good point - I need to check on that - when I amend the commit, I am losing the tag (since it's a different commit).

[2022-03-04 20:18] greghopkins commented on #430
As a very unhappy workaround, this is currently functional for my team:

[code]

[2022-03-05 20:52] apocaliss92 commented on #457
Hi @edbzn , sorry for the late reply, I will create a pr very soon for it!

[2022-03-07 14:11] edbzn commented on #430
Hi, I never had this scenario where one of the projects within the workspace is defined as a dependency in the root `package.json`, and to be honest, I don't see why you would do that as Nx enforce the single-version policy by using path alias. Maybe am I missing something?

[2022-03-07 14:54] wSedlacek commented on #430
In my case I am creating nx plugins within the same repository, and then using a tool we created called shipit to slice of certain parts of the workspace into other repositories. For example we have some projects that are open source so export those commits to a public repo for the public to view, but in the same private mono repo we have client projects and we may ship some of those to our client

[2022-03-07 16:06] greghopkins commented on #430
@edbzn I am using `syncVersions` and nothing within the workspace is marked as a dependency in the root... The issue is that, when using `syncVersions`, the root `package.json` version is updated (in addition to all the publishable libraries).

From `workspace.json`...
[code]

Since my root is `private`, I'd rather that `version` not be updated at all, but if it's going to be, I think that the `pa

[2022-03-10 07:29] edbzn commented on #375
@aderito7 could you verify that the already existing tag `my-app-0.92.0` targets a `baseBranch` reference, otherwise, it will throw `fatal: tag already exists` because the tag is not reachable for calculating the new version.

[2022-03-10 16:30] aderito7 commented on #375
This seems to make a difference.
Is it preferable for jscutlery/semver to have it's own config for the `baseBranch` as _main_ rather than use what's in the nx.json?
[code]

[2022-03-10 16:50] LuckeeDev opened #461 "GitHub executor does not wait for `version` to finish"
I have the following configuration:

[code]

However, whenever I try to run `nx run workspace:version`, I get the following error:
[code]

It seems like `semver:version` does not wait for the GitHub push before finishing and calling the `postTargets`.

[2022-03-11 08:07] edbzn opened #462 "Inherit Nx base branch configuration"
This seems to make a difference.
Is it preferable for jscutlery/semver to have it's own config for the `baseBranch` as _main_ rather than use what's in the nx.json?
[code]

Happy to make a PR

_Originally posted by @aderito7 in https://github.com/jscutlery/semver/issues/375#issuecomment-1064258624_

[2022-03-11 08:10] edbzn commented on #462
That would be a good thing to use the default base branch configured for Nx, note that it should still be configurable by an option as this plugin also works with regular Angular CLI with no base branch config.

1. use `--baseBranch` option first
2. inherit base branch from Nx
3. fallback to `main`

[2022-03-11 08:13] edbzn commented on #375
@aderito7 I opened an issue for that, would love to see your contribution!

[2022-03-14 08:47] davidren-apt opened #463 "Possible to change baseBranch for version script"
Suppose workflow is that:

1. Make code change in feature branch
2. Merge feature branch to main branch

Then this is the timing to execute version script like:

As currently the new code change is already pushed to `main` branch, if still set `--baseBranch` as `main` branch, the diff cannot be correctly computed.

__Question__:

Is it possible to change the `--baseBranch` with a specific commit i

[2022-03-14 10:25] fokkerone opened #464 "package.json is always 0.0.1"
My package.json version number isn´t updated accordingly
That is my worklfow
. change a file
[code]
output

✔ outputting changes to /Users/fokker/Desktop/gerd/apps/nexter/CHANGELOG.md
✔ committing all staged files and %s

✔ tagging release next-0.0.6
ℹ Run `git push --follow-tags origin master` to publish

[code]

dist/app/nextApp package.json becomes:
[code]

Expected behavoir:
[code]

[2022-03-14 10:53] edbzn commented on #464
Hi @fokkerone, do you mean that the generated distribution `package.json` file is not picking up the right version from the development one? I think this is an Nx issue as semver does not deal with the generated `package.json`. Can I access a repository to reproduce?

[2022-03-14 11:02] fokkerone commented on #464
https://github.com/fokkerone/nxsemvernextdemo

[2022-03-14 11:03] edbzn commented on #463
Hi,

It's not possible to use a specific commit ref with `--baseBranch`, that's why in this repository we are dealing with a `last-release` tag to know from which reference calculating changes. Here is our workflow:

[code]

[2022-03-14 11:11] fokkerone commented on #464
And as you mentioned here https://github.com/nrwl/nx/issues/2457 the semvernx plugin solves exactly this problem

[2022-03-14 11:20] edbzn commented on #464
@fokkerone You need to commit the `package.json` file in your next project, update to the right version, and try to re-build the app. Nx should use the project's `package.json` to generate the distribution one with the correct version.

[2022-03-14 14:51] fokkerone commented on #464
Doing this would be against NX Mental Model...

I solved it in now with maybe the dumbest node npm script:

[code]
Finally I call this via postTarget after a successfull version.

Since version updating is needed for publishable libs and apps locally as NPM packages or in CI/CS pipelines it could be integrated after all.

Tagging and changelogs.md are super useful features, but changing version fo

[2022-03-14 14:51] #464 closed

[2022-03-15 01:33] davidren-apt commented on #463
Hi @edbzn ,

Thanks for so quick response!

I am wondering how this is calculating the new version? As previously my sample library is already at some level of version like `0.5.0`, after this version cli, the new version goes back to `0.1.0`.
Also, if multiple libraries are affected, the committing phase would raise error like: `.git/index.lock file exists`.

Sorry that I have one more suggestion

[2022-03-15 07:14] davidren-apt commented on #463
Hi @edbzn ,

I think I have found the work around solution. But basically just follow your suggestion. That is really awesome!

Great tool!

[2022-03-15 07:14] #463 closed

[2022-03-15 19:29] edbzn opened #466 "Use workspace projects to validate commitlint scope"
[code]

[2022-03-16 19:29] lukelukes opened #467 "Crash when using Nx 13.9.0 and above"
This commit introduced some breaking changes: https://github.com/nrwl/nx/commit/48a5d19b68b8478861dff462eea04bdb6b27f674

Error:
`Cannot find module '@nrwl/tao/src/shared/params'`

'@nrwl/tao/src/shared/params' needs to be replaced with: 'nx/src/shared/params'

I see the Nx versions are currently pinned.

[2022-03-18 11:49] #467 closed

[2022-03-18 11:53] edbzn commented on #467
This has been fixed in `2.21.1`, thanks for the bug report.

[2022-03-18 13:28] edbzn commented on #461
Hi @LuckeeDev, by any chance can I access a repository to reproduce the issue?

[2022-03-18 13:45] edbzn commented on #459
Hi @iamstiil, the `0.1.1-next.0` is a correct prerelease version for `0.1.1`. If you want to bump the version up to the next major version and down to a prerelease of that major version you can use `--releaseAs premajor --preid next`.

[2022-03-18 13:47] edbzn commented on #456
@cakeinpanic Sorry for the late reply, hopefully, can I access a repository to reproduce that behavior?

[2022-03-18 13:53] edbzn commented on #454
Hi @rodrigomata, this is because semver uses the [Angular convention](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#commit-message-footer) by default, which does not include the `feat(scope)!:` breaking change rule. Hopefully we just released a new option `--preset conventional` to support the [conventional commits](https://www.conventionalcommits.org/en/v1.0.0/#commit-message-wit

[2022-03-18 13:53] #454 closed

[2022-03-18 14:56] cakeinpanic commented on #456
@edbzn unfortunately not, it's all private
I'd try to re-create it next week

[2022-03-18 15:42] LuckeeDev commented on #461
Yes sure @edbzn, [here](https://github.com/LuckeeDev/csl/runs/5499099875?check_suite_focus=true) you can find the logs of a past GitHub action which failed due to this error. [This](https://github.com/LuckeeDev/csl/commit/1fe49a4c31783855b8d606d0d38bbb9b933978ee) is the commit associated with the Github action run. I also tried it locally in the same conditions but I got the same error.

[2022-03-22 15:14] Waldbillig-Thomas opened #470 "error in azure devops commit link"
when generating changelog, i seem to have an issue with the commit links for our custom azure devops repo:

* **<<PROJECT>>:** <<COMMIT_MESSAGE>> ([<<HASH>>](https://dev.azure.com/<<REPO_PATH>>/commits/<<HASH>>))

which should be:

* **<<PROJECT>>:** <<COMMIT_MESSAGE>> ([<<HASH>>](https://dev.azure.com/<<REPO_PATH>>/commit/<<HASH>>))

in order to work (no 's' at the end of 'commit')

not sure if i

[2022-03-23 12:58] aderito7 commented on #375
Been monitoring making use of `--base-branch`. It worked alright for a few days.
Seems that it's back to giving use the error that tag already exists.

[code]

[2022-03-23 17:41] ajwootto opened #471 "Option to use package.json name instead of Nx project name for tagging"
Similar to this issue:
https://github.com/jscutlery/semver/issues/215

When using Nx with "publishable" packages, you specify an "importPath" which corresponds to the name of the projects in package.json files. This name is not necessarily the same as the "nx" project name.

For example, I have a repo where every package is under an org, so the package.json package name is `@org/my-package` while

[2022-03-25 13:34] mangersmiovision commented on #443
This is broken again as of 2.21.1. It works well in 2.21.0.

[2022-03-26 09:47] edbzn opened #473 "Give hint to understand and fix `fatal: tag 'cli-0.3.0' already exists`"
- Catch this frequently raised error
- Give a detailed explanation of why this happens
- Give a concrete solution to fix

[code]

[2022-03-26 10:17] edbzn commented on #471
Hi @ajwootto, in your case you can achieve this using `--tagPrefix='@org/${projectName}-'`, I think it's unnecessary to add stuff to consume the name from the package.json as you can already customize the tag prefix. What do you think?

[2022-03-26 10:21] edbzn commented on #473
https://github.com/jscutlery/semver/issues/375#issuecomment-1076346207

[2022-03-26 10:23] edbzn opened #474 "Failed to determine dependencies with Nx 11"
@edbzn This is broken again as of 2.21.1. It works well in 2.21.0.

_Originally posted by @mangersmiovision in https://github.com/jscutlery/semver/issues/443#issuecomment-1079033705_

[2022-03-26 13:04] Caeous commented on #456
@cakeinpanic Can you try with `postTargets` under `options`? I'm on Nx 11.6.3 and semver 2.21.0 and this works.

[code]

[2022-03-26 14:20] edbzn commented on #456
I did not spot that! Thank @Caeous.

[2022-03-28 16:54] ajwootto commented on #471
Hi @edbzn , you are correct that with my stated example I could just do that, however I should have mentioned that my Nx project names also do not line up with the published packaged names either. Nx convention seems to be to name things according to the organizational folder structure you put them in, and in my case I have a structure like this:
[code]

With that structure, Nx will name things li

[2022-03-31 11:02] HackPoint opened #475 "loosing the current version of package"
✔ bumping version in /Users//dev/work-projects//libs/ui/package.json from 1.2.0 to 0.1.0
✔ committing all staged files and %s
✔ committing /Users//dev/work-projects//libs/ui/package.json and all staged files
✔ tagging release ui-e2e-0.1.0
✔ tagging release ui-0.1.0
ℹ Run `git push --follow-tags origin main` to publish
ℹ Run `git push --follow-tags origin main` to publish

How is that possible that

[2022-03-31 15:55] ianldgs commented on #475
I'm getting a similar error:

[code]

[2022-03-31 17:41] ianldgs opened #477 "Implicit dependencies are ignored when deciding wether to release or not"
NX adds this by default on nx.json:

[code]

So that if you update your external dependencies, everything has to be rebuilt.
People can also configure their own implicit dependencies.

The `@jscutlery/semver:version` executor does not take those implicit dependencies into account and outputs "⏹ Nothing changed since last release." when I bump my dependencies.

While I agree that NX could be smarte

[2022-03-31 23:00] edbzn commented on #475
@HackPoint For your information versions are tracked through git tags, maybe something is wrong here. I need more context to help you.

@ianldgs Basically this error is thrown when a version tagged `test-npm-0.0.6` is already created but the commit is not attached to your configured `baseBranch`.

[2022-04-01 06:24] ianldgs commented on #475
Hey @edbzn! Thanks for your reply. That was exactly the problem. I re-tagged my libraries manually to fix it.

[2022-04-04 12:07] lamanabie commented on #477
@ianldgs Ideally, I'd like to bump at least a patch version whenever any of my libraries are affected by anything. Thoughts?
u can use `--releaseAs=patch`, to force bump even if there are no changes

[2022-04-04 14:29] ianldgs commented on #477
Hey @lamanabie! Sure, but then you force EVERY release you make to be a `patch`.
Even if you have a commit that made a breaking change, you'd only get a  0.0.1 bump.
Wouldn't be semver anymore :)

[2022-04-06 09:31] HackPoint commented on #475
How do you tag the libraries using your lib?

[2022-04-06 12:47] ianldgs commented on #475
I manually created tags for my libraries on gitlab, pointing to the latest commit on master.

Fortunately, I'm in the early phases and I don't have that many libraries.

The reason I didn't have the tags was a wrong `git push` command, using `--follow-tags` instead of `--tags`.

[2022-04-07 09:13] HackPoint commented on #475
What if I would like to use this library to promote my tagging and versioning?
What is the cmd for that?
@ianldgs @edbzn

[2022-04-07 09:29] ianldgs commented on #475
@HackPoint whenever you run the `version` executor it suggests that you do a `git push --follow-tags`, since it creates the tags locally, but doesn't push them. Should be enough if you put it on your CI after the version bump command

[2022-04-08 08:35] ianldgs commented on #477
@edbzn what would be your preferred implementation here?
I can make the change.
This is blocking me from updating to NX 13.8+ and 13.10 was just released.

[2022-04-08 09:47] edbzn commented on #475
I'm not sure if it answers your question @HackPoint but this library uses semver to calculate the version, the tag is created accordingly to that version. If you want to release and specify your own version you can use the `--releaseAs` option. This will skip the version calculation and just create the version you want. Then you can use the `--push` option if you want to push the version on your r

[2022-04-08 10:12] edbzn commented on #477
@ianldgs Yeah I think it's a good addition, we should do the calculation if --trackDeps option is passed.

[2022-04-08 10:27] ianldgs commented on #477
But would you be ok with an option, for example, `releaseAtLeast: 'patch'`?

I don't think I could commit to making the change to look at all of the implicit dependencies.
And TBH, if people are running this library with `affected`, NX would in theory already be doing this lookup of the implicit dependencies for us and only calling the `version` target if

[2022-04-11 14:19] gioragutt opened #482 "did not release a version of semver for nx 13.10"
I'm receiving an error when running commands with `semver 2.21.6`:

[code]

[code]

Looking at semver's package.json file, these are the versions of NX dependencies:

[code]

Looks like the repo itself was updated to 13.10, but there was no version bump.

[2022-04-15 10:40] edbzn opened #485 "Refactor `tryBump`"
With --trackDeps tryBump is slightly unreadable, we should simplify it.

[2022-04-15 10:41] edbzn opened #486 "Introduce commitlint Nx plugin"

[2022-04-19 17:09] Bielik20 opened #487 "`preid` for postTargets (support for multiple release channels)"
When working with channels (`preid`) in npm you must pass a `tag` (not to confuse with git tag created to mark release on github) to mark a release in npm. Default `tag` is "latest", it is used for stable releases. But if you want to make another release channel (beta, next etc.) you must pass that as a `tag`.

Right now `postTargets` jobs have access to some properties, but it is missing `preid`.

[2022-04-21 10:16] HackPoint opened #488 "I need to run the command to create change logs"
nx run ui:version
NX As of Nx 13, project configuration should be moved from nx.json to workspace.json/project.json. Please run "nx format" to fix this.
Cannot read properties of undefined (reading 'version')

Process finished with exit code 1

### Can't update to a newer versions need to support angular

[code]

[2022-04-21 16:19] avimehenwal opened #489 "How to sign a release tag using this plugin with NX ?"
Hello, i recently started a new project using NX and am using @jscutlery/semver to automatically generate sem-version.
Once changelogs are generated and pushed to github, i noticed that the tags on github are **unverified** (screenshot below)

Hence my question is, how can I sign tags using @jscutlery/semver ?

normally I would use something like this `git tag -s mytag` to generate tag but I want

[2022-04-25 11:11] #326 closed

[2022-04-25 12:38] edbzn opened #490 "feat: add --silent option"
Add an option to turn off the logger.

[2022-04-25 12:49] edbzn commented on #489
Hi @avimehenwal, there's no way to sign the tag and the release commit actually. It would be nice to add an option to support it. Would you want to contribute?

[2022-04-26 10:56] edbzn commented on #482
Hi @gioragutt, can you confirm the issue is gone in the latest version?

[2022-04-26 10:56] #482 closed

[2022-04-26 10:58] edbzn commented on #488
Hi @HackPoint, can you show me the repository? I'm not sure to understand your problem.

[2022-04-26 11:00] edbzn commented on #475
I'm gonna close this, if you still need help be free to reopen.

[2022-04-26 11:00] #475 closed

[2022-04-26 21:25] gioragutt commented on #482
I've been using the plugin with an NX 14 repo, so I think it's safe to say that it's working 😅

Thanks for your work 🙏🏻

[2022-04-28 07:28] #424 closed

[2022-04-28 07:30] #451 closed

[2022-04-28 08:53] #474 closed

[2022-04-28 08:54] #456 closed

[2022-04-28 08:54] #450 closed

[2022-04-28 08:55] #473 closed

[2022-04-28 15:01] wSedlacek opened #495 "Improperly formatted package.json"
With the most recent updates the `package.json` generated by the version executor are missing the tailing new line making them fail the `nx format:check`.

It would be great if the files could be formatted via nx devkit prior to being written.

Example:
[code]

[2022-04-28 16:08] ms-tng opened #497 "Dry-run mode is broken"
In the current version `2.23.2`, the dry-run mode seems to be broken.

To reproduce, follow these steps:
* `npx create-nx-workspace --preset=core`

In the folder created by `create-nx-workspace`:
* `npm install -D @jscutlery/semver`
* `npm install -D @nrwl/react`
* `nx g @nrwl/react:lib mylib --publishable --importPath="@myorg/mylib"`
* `nx g @jscutlery/semver:install`
* `echo "// some change" >>

[2022-04-29 08:42] edbzn commented on #497
Hi, thanks for the report and the reproduction steps. I will investigate.

[2022-04-29 09:24] #497 closed

[2022-04-30 09:55] edbzn commented on #489
@avimehenwal Directly here, or in a new discussion.

[2022-05-02 12:38] edbzn opened #499 "Feature: tag "last-release""
To be used as `--base` for affected

[2022-05-02 15:17] #466 closed

[2022-05-02 15:17] #448 closed

[2022-05-02 15:18] edbzn commented on #458
Should be fixed.

[2022-05-02 15:21] edbzn commented on #447
This is because `project-foo` source changed since the last release, semver bump a patch even if the commit has chore type.

[2022-05-02 15:27] edbzn commented on #411
related to #499

[2022-05-02 15:30] edbzn commented on #418
I'm closing this, feel free to reopen if not resolved.

[2022-05-02 15:30] #418 closed

[2022-05-02 15:31] edbzn commented on #65
I'm going to close this, feel free to reopen if this is not resolved.

[2022-05-02 15:31] #65 closed

[2022-05-02 15:31] edbzn commented on #90
I'm going to close this, feel free to reopen if this is not resolved.

[2022-05-02 15:31] #90 closed

[2022-05-02 15:34] edbzn commented on #412
I'm going to close this, feel free to reopen if this is not resolved.

[2022-05-02 15:34] #412 closed

[2022-05-02 15:34] #415 closed

[2022-05-02 15:35] edbzn opened #500 "Docs: add `parallel=1`"
OK I guess posting this issue helped me on finding the solution!

I just added `parallel=1` to the command.

It would be nice to mention this in the documentation as I guess this is a common use case.

_Originally posted by @christophediprima in https://github.com/jscutlery/semver/issues/414#issuecomment-994578678_

[2022-05-02 15:35] #70 closed

[2022-05-02 15:36] #336 closed

[2022-05-02 15:37] #331 closed

[2022-05-02 15:37] edbzn commented on #488
I'm going to close this, feel free to reopen if this is not resolved.

[2022-05-02 15:37] #488 closed

[2022-05-02 15:38] #314 closed

[2022-05-02 15:40] edbzn commented on #436
I'm going to close this, feel free to reopen if it is not resolved.

[2022-05-02 15:40] #436 closed

[2022-05-03 16:10] karlwills commented on #458
I still seem to be having this issue, should we be creating CHANGELOG's manually if it is still happening?

[2022-05-07 05:07] danielmahon commented on #420
Following with the workaround from @the-ult, I used "tools" as the root and added a git `pre-commit` hook:
[code]
Note, you need to COPY, not move, or you will lose the history

[2022-05-07 18:01] jdgeier opened #503 "Allow for projects=all when running the install generator in non-interactive mode"
### Discussed in https://github.com/jscutlery/semver/discussions/491

<div type='discussions-op-text'>

<sup>Originally posted by **jdgeier** April 25, 2022</sup>
Hello, I know that when I run the install generator it basically sets everything to all by default but I have to run the generator in interactive mode in order for that to work correctly. I'd like to run the command prior to tagging an a

[2022-05-10 08:19] davidren-apt commented on #61
Hi guys, is there any plan update on this request?

[2022-05-10 11:32] michelepatrassi commented on #442
@edbzn run into this after merging dependabot PRs which bumped packages in the root package.json. NX correctly detected apps have changed but no bump happened:
[code]
This is confusing :/ I would expect the output from NX (two affected apps) to be used by the executor to bump the version based on the last commit.

Is this a bug or desired behaviour? As it is, major dependency changes lead to the s

[2022-05-10 13:08] edbzn commented on #61
@davidren-apt This is the next thing I would like to work on BUT we need Nx [to support workspace level executors](https://github.com/nrwl/nx/issues/10002) before being able to introduce this change. So for now it's pending.

[2022-05-10 15:05] edbzn commented on #442
@michelepatrassi This is the desired behavior, in order to detect changes, semver checks if any file changed in the **project root**.

[2022-05-11 14:23] cakeinpanic commented on #426
Btw is there any way to skip version bumping if changelog is empty? For example I only changed docs and don't want this commit to invoke new release on my CI

[2022-05-11 14:35] cakeinpanic commented on #427
Hi!
I ran into same issue and just created my own bash script which I run after successfully bumping version for a lib which is used as a dependency in other libs.
I have basic components and angular and react wrappers distributed as a separate libs.
`package.json` of angular library looks like this
[code]
So each time I bump `ui-components` version I need to also bump it here

With the script I w

[2022-05-11 15:20] edbzn commented on #503
@jdgeier btw, thanks a lot for the sponsoring. :100:

[2022-05-13 13:51] mbulfair opened #506 "Workspace Options not being honored & git push leaves behind files"
I am not sure if I am doing something wrong, however I am setting defaults in my workspace.json, however when I run the version even if there are no changes, it runs, ignores workspace config, and runs what its in the library project.json.

NX Report Log
[code]

`workspace.json`

[code]

Ideally I want to run `nx affected` and be similar to lerna, read commits or file changes in each library and b

[2022-05-13 20:20] dereekb commented on #500
I ran into this and had some trouble figuring out where exactly to put the command. If you're going to use it inline with the run command, make sure you put it after run and before your nx target:

`npx nx run --parallel=1 workspace:version`

Here's the other example within nx.json:

https://github.com/jscutlery/semver/blob/9c2047b6b69739dad9d2b0135c0380f76a59e26a/nx.json#L27

[2022-05-14 07:30] edbzn commented on #506
Hi, if you have a project.json file you should put the semver configuration here, not in the workspace.json. I think that's why options are not taken into account.

[2022-05-14 07:34] edbzn commented on #458
I cannot reproduce, I'm going to close this. Feel free to reopen and provide reproduction steps.

[2022-05-14 07:34] #458 closed

[2022-05-14 08:08] edbzn commented on #500
@dereekb would you want to contribute on this?

[2022-05-14 08:12] dereekb commented on #500
Sure, why not. I'll work on a small writeup to add to the docs and make a PR.

[2022-05-15 05:08] dereekb commented on #414
It still seems like there is some sort of race condition still happening. I used parallel=1 inline (I'm not entirely sure if that is the correct way to use it either with digging into the nx code base or docs more), and it seemed to have helped but I still occasionally get the fatal error in my CI for my repo with 17 different projects:

https://app.circleci.com/pipelines/github/dereekb/dbx-compon

[2022-05-15 09:08] cakeinpanic commented on #443
Still broken in. 2.23.3

I also noticed that it installs nx14 as a dependency. I assume it may cause this problem. Isn't it better to have nx as a _peerDependency_?

[2022-05-15 09:46] subhranshudas commented on #500
i m curious, does this happen all the time? i have seen this happen few times but not sure how to repro it.
Mostly it happens when i am setting my NX workspace fresh (all packages are 0.0.0) and running the **version** for the 1st time.

`yarn nx affected --target version --base= origin/main~1 --head= HEAD --verbose`

and get the following
error-

![Screen Shot 2022-05-15 at 3 15 16 PM](https://us

[2022-05-15 17:31] TriPSs commented on #408
This issues happens again in the latest release.

[2022-05-16 07:50] edbzn commented on #443
@cakeinpanic @nrwl/devkit is already a peer dependency 🤔

[2022-05-16 07:54] edbzn commented on #443
@cakeinpanic did you try the latest 2.23.4?

[2022-05-16 08:56] edbzn commented on #408
@TriPSs can you give me more details on the error, are you using the latest v2.23.4?

[2022-05-16 08:57] TriPSs commented on #408
@edbzn I indeed was the latest version `2.23.4`, rolling back to `2.22.0` solved it.

[2022-05-16 14:54] edbzn commented on #506
It's because Nx has several ways to define the configuration but it should be transparent for you as long as you use the installation generator that we provide.

[2022-05-16 15:42] rodrigomata commented on #421
Can you please post what solved the issue @gabsmprocha ?

[2022-05-16 19:46] edbzn commented on #506
I guess you are using the independent mode in this case it means configuration is repeated for each project.

Forgive me but I'm not sure to understand your problem. If by shared commands you mean shared executors, it doesn't exist. Each project defines its own targets wich are executors and you can't share anything between projects.

[2022-05-17 18:44] dereekb commented on #500
I'm still trying to reproduce the issue myself, since it pops up occasionally in my CI even with it inline.

Right now I'm having doubts as to whether or not "parallel" changes the behavior at all, or with what runners does it change the behavior, or if it only affects certain commands, such as `nx run-many`.

[2022-05-18 16:21] edbzn commented on #503
Yeah I think it's normal as the root is defined in workspace.json with standalone config.

[2022-05-21 11:01] Phault commented on #495
Same case with CHANGELOG.md.

Currently working around this by formatting in a pre-commit hook.

[2022-05-21 11:06] Phault commented on #430
This is also relevant when npm workspaces are used, as the `package-lock.json` will contain each resolved workspace and their current version.

[2022-05-23 12:53] hellraisercenobit commented on #500
Same behavior like @subhranshudas since v2.23.4 with or without parallel=1 and syncVersions to true.

[2022-05-23 13:08] edbzn commented on #500
Seems like the refactoring to get rid of standard-version introduced this issue, but I'm wondering why e2e tests don't catch anything, I have never seen this error myself.

[2022-05-23 13:10] edbzn opened #507 "syncVersions bug "another git process seems to be running...""
I'm still trying to reproduce the issue myself, since it pops up occasionally in my CI even with it inline.

Right now I'm having doubts as to whether or not "parallel" changes the behavior at all, or with what runners does it change the behavior, or if it only affects certain commands, such as `nx run-many`.

One possible guess is here:

https://github.com/jscutlery/semver/blob/2d72467f542dc02624

[2022-05-23 13:48] hellraisercenobit commented on #500
it's seems it's coming from the trade between concat and forkJoin operators.
i'm not sure about that.

[2022-05-23 17:44] vspedr opened #508 "Package.json is not updated and tag is not created when using both skipProjectChangelog and skipRootChangelog"
In my current project, we'd like to update our Changelog manually and have this plugin only take care of bumping our package.lock versions (in synced mode), committing the changes and creating a tag. I expected that ignoring both project and root changelogs in this plugin's options would do that and keep the changelog files unchanged, however, it did not modify any files, and so it wouldn't create

[2022-05-23 20:15] Zamiell opened #509 "Fix: drop standard-version as it is deprecated"
When installing this plugin with yarn:

[code]

[2022-05-23 20:16] Zamiell commented on #509
More info: https://github.com/conventional-changelog/standard-version/issues/909

[2022-05-23 20:49] Zamiell opened #510 "When package.json is written, it doesn't have a trailing newline"
This causes Prettier to fail on the file.

Should be an easy fix, I'll submit a PR.

[2022-05-24 07:00] edbzn commented on #509
We made some refactor recently to drop standard-version but we still use it in one place to generate changelogs, it would be nice to entirely drop it.

[2022-05-25 09:13] edbzn opened #512 "Feature: handle commits pushed to base branch while versioning is in progress"
As for now semver does not check if the base branch has been updated during the versioning, this causes an issue when using the `--push` option as it could lead to a partial broken state.

- version lib A
- push lib A
- push new commits to the base branch during the versioning job
- version lib B (now versioned commits are outdated with base branch)
- push lib B will fail

Here is a CI diagram cre

[2022-05-25 09:16] edbzn opened #513 "Feature: add ability to write custom text in the changelog"
To make human-readable changelogs we should not erase custom text in the changelog when updating it.

[2022-05-25 09:23] edbzn commented on #506
@mbulfair I'm going to close this, feel free to open a new discussion if you need support.

[2022-05-25 09:23] #506 closed

[2022-05-25 09:36] limonte opened #514 "How is the starting version calculated?"
If no releases of a package were made before, how is the starting version calculated? Is it taken from `package.json` or `v1.0.0` or something else?

I wasn't able to find anything about this in README.

[2022-05-25 10:33] edbzn commented on #514
@limonte If no release is found, meaning that no tags exist, it will take the commit history since the first commit and calculate the version from it.

[2022-05-25 10:35] edbzn commented on #514
Semver is tag-based, it never uses the version in package.json, it always parses the commit history and calculates the version from it.

[2022-05-25 10:40] limonte commented on #514
Thank you for the answer. Let's assume there's one commit in the commit history: `feat: init my cool package`. Which version will be released?

[2022-05-25 10:42] edbzn commented on #514
@limonte I would say 0.1.0.

[2022-05-25 10:44] limonte commented on #514
That is what I'm experiencing in my project and that's unexpected. According to the semantic-release docs it should be `1.0.0`: https://semantic-release.gitbook.io/semantic-release/support/faq#can-i-set-the-initial-release-version-of-my-package-to-0.0.1

[2022-05-25 10:46] limonte commented on #514
Another discussion suggests `1.0.0` https://github.com/semantic-release/semantic-release/issues/837

[2022-05-25 10:55] edbzn commented on #514
Interesting I didn't know, I will investigate but it looks weird that we can't provide a feature in 0.x.x without bumping to 1.0.0.

0.x.x should only contain fixes?

[2022-05-25 11:19] limonte commented on #514
This article is suggested by semver docs: https://blog.greenkeeper.io/introduction-to-semver-d272990c44f2

There's an explanation at the end about why it should be `1.0.0`

`0.x.x` could bring unexpected hard-to-understand troubles to developers. E.g. `^0.3.0` wouldn't be resolved to `0.4.0`, only to `0.3.x`.

[2022-05-25 12:02] edbzn commented on #514
You point out something I was not aware of, it is super confusing. On the other hand, starting the initial version from 1.0.0 would be an opinionated choice, I'm not against but we should document it well. @yjaaidi what do you think about that?

[2022-05-25 12:15] limonte commented on #514
I support this behavior to be customizable, some developers might want to start with `0.x.x` 👍 But IMO the default behavior should be aligned with `semantic-release`, i.e. the starting version should be `1.0.0`.

[2022-05-25 12:45] yjaaidi commented on #514
Thanks @limonte for raising this issue.
It is in fact a very interesting topic.

**TL;DR**: leading zeroes is not semantic versioning compliant but it is appealing 😊

It would be nice if we could figure this out and provide an opinionated approach. It would be nice to reduce the possible options surface.

What would be the right balance between semantic release spec and marketing? What provides th

[2022-05-25 16:04] limonte commented on #514
@yjaaidi thank you for the detailed feedback!

Your suggestion would mean this for our case:

1. create a commit with `--releaseAs=major` parameter
2. run CI workflow which will release `v1.0.0`
3. create another commit that will remove `--releaseAs=major` from the codebase and allow the next releases to be calculated based on the commit history

This doesn't look smooth to me or am I missing some

[2022-05-25 16:28] limonte commented on #514
Wouldn't it be handy to have the `--initialVersion` param (naming to be discussed) which will be `undefined` by default.

And then:

[code]

WDYT?

[2022-05-25 19:03] dereekb commented on #507
I created a quick pull request that merges together all the paths then stages them one time instead of in parallel.

#516

[2022-05-25 19:35] dereekb commented on #507
This bug is preventing me from running a release right now actually, so  I'm working on testing these changes with this branch.

https://app.circleci.com/pipelines/github/dereekb/dbx-components/552/workflows/99174b61-6122-46b6-9f3e-1bbb694eacba/jobs/1203

Of course when I run locally the current branch seems to not choke up, so working on running a release on CircleCI with the fix and see if that

[2022-05-26 06:20] limonte commented on #514
I got you. I'm not running this command locally, but in CI because that's how it should be ideally done. So, in order to run it I need to have `nx run workspace:version --releaseAs=major` in the codebase, i.e. commit it to the releasing branch.

So the steps are:

1. commit `nx run workspace:version --releaseAs=major` to the releasing branch
2. run the releasing workflow in CI
3. make another comm

[2022-05-26 08:23] yjaaidi commented on #514
Oh sorry! I forgot your first explanation when replying to your last message.
The only thing that I dislike about initial version option is how it pollutes the project json.
We can fix this by updating the project json and removing the option after the first release.

Now what should be the default?
Should we default to 1.0.0 to be compliant with the spec? @edbzn

[2022-05-26 08:46] edbzn commented on #514
In fact, the semantic versioning spec allows `0.x.y` versions, here are the rules defined in the spec:

- [Major version zero (0.y.z) is for initial development. Anything may change at any time. The public API should not be considered stable.](https://semver.org/spec/v0.1.0.html#spec-item-5)
- [Version 1.0.0 defines the public API. The way in which the version number is incremented is now dependen

[2022-05-26 09:15] edbzn commented on #399
Fixed by #504

[2022-05-26 09:15] #399 closed

[2022-05-26 09:32] limonte commented on #514
First of all, I wouldn't expect recommendations for manual releasing from the authors of the plugin which is aimed to automate releasing and move it completely to CI.

Next, I don't think `--releaseAs=1.0.0` will work because the docs say:

So, I don't think `1.0.0` is a valid value for the `releaseAs` option.

---

What's the downside of having the additional param? Is it only polluting `project.

[2022-05-26 09:50] yjaaidi commented on #514
@limonte is there something preventing you from making the first release manually? Or is it just inconvenient?

[2022-05-26 09:53] limonte commented on #514
In our team we want every team member to be able to make a release. For that, we have the dedicated CI workflow which can be triggered by anyone.

We are releasing to GitHub Registry and in order for that `GITHUB_TOKEN` secret is used in that workflow.

For manual releasing we need to bother every team member with having that `GITHUB_TOKEN` locally which is inconvenient and certainly doesn't affec

[2022-05-26 10:23] edbzn commented on #514
It is right the correct usage is `--releaseAs=major`.

1. You can automate the first release if you stick to the semver spec (ie starting at `0.x.y`).
2. We want to limit the public API surface as adding options comes with a maintenance cost.
3. BUT if it turns out that it is useful for multiple users we can re-consider adding the `--initialVersion` option to avoid manual release, let's see if oth

[2022-05-26 11:27] yjaaidi commented on #514
This has to be verified but also, if the initial commit is marked as a breaking change, the first release should be 1.0.0 as the computed bump would be "major". This also a workaround.

The only thing that we don't cover yet is automating the initial version to a specific version like "3.1.0" because version management was handled in a different fashion before migrating to semver.

[2022-05-26 14:15] DanielNetzer opened #517 "Github Auth Issue"
For some strange reason I keep getting the following error:

[code]

this error originated from an Azure DevOps agent, I tried to debug the code for the github.

the project.json for one of the projects is:

[code]

all of the other projects are configured in a similar manner.
any help will be appreciated.

[2022-05-27 06:47] why-this-code-works commented on #514
I'd consider my question fully answered, thank you both @edbzn and @yjaaidi for this discussion.

I'll close this issue and file a new one with the suggested feature request so people can easy find it and vote for it.

[2022-05-27 06:48] limonte commented on #514
I'd consider my question fully answered, thank you both @edbzn and @yjaaidi for this discussion.

I'll close this issue and file a new one with the suggested feature request so people can easily find it and vote for it.

[2022-05-27 06:48] #514 closed

[2022-05-27 07:07] limonte opened #518 "Feature: allow to customize the initial version of packages, e.g. set starting version to v1.0.0"
This issue is the follow-up from our discussion in #514 (read it to understand the background)

The current behavior is to start from `0.0.0` and add a necessary major/minor/patch version bump based on the commit history or based on the `releaseAs` option.

This approach is indeed holistic and does seem logical, but there are three issues:

1. **The unexpected default behavior.** People who are st

[2022-05-27 07:18] edbzn commented on #517
Hi @DanielNetzer, the error occurs when semver tries to Git push the version, it seems like your repo is configured with https instead of ssh. You can find more details [here](https://stackoverflow.com/questions/32232655/go-get-results-in-terminal-prompts-disabled-error-for-github-private-repo).

[2022-05-27 08:35] edbzn opened #519 "Refactor: get rid of RxJS in favor of Promises"
As we don't particularly need RxJS in semver (no retry, only one value emitted) RxJS can be a barrier for new contributors because not everyone is familiar with RxJS.

A bunch of functions used in semver return an `Observable` and we should migrate to `Promise`, no need to refactor the whole project in one commit we can refactor one function by one.

This is a good issue for newcomers!

[2022-05-27 18:18] jdgeier commented on #503
It seems to be breaking the affected command on older versions of nx. Do you know when it started removing root from the project.json?

[2022-05-27 18:38] DanielNetzer commented on #517
@edbzn wdyt about supporting all different methods in `semver` similar to what semantic-release does? try HTTP, HTTPS, and SSH?
Also another thing I noticed is that when the pipeline fails tags are kept on the origin which causes errors when running the version command again since the git tag already exists.

[2022-05-27 20:33] edbzn commented on #517
It would need further investigation but could be a new feature.

I need more details to answer, why the pipeline fails, and when? Can you provide logs or something?

[2022-05-28 14:26] DanielNetzer commented on #517
Hey @edbzn attaching logs from the CI pipeline.

[code]

to overcome this issue I've added full tag deletion to my release command.
the pipeline fails because it tries to generate the same tag again as you can see.

[2022-05-28 14:38] DanielNetzer commented on #507
I would like to upvote this as it seems that the process is running faster then the git CLI is actually able to release the `.lock` file and causing errors similar to this:

[code]

[2022-05-28 16:32] edbzn commented on #507
@DanielNetzer it should be fixed in 2.24.1

[2022-05-28 17:58] DanielNetzer commented on #507
@edbzn Still experiencing it locally and in CI

[2022-05-28 18:27] dereekb commented on #507
Is that with a new project? There may be another race condition somewhere for the first setup?

[2022-05-28 18:28] DanielNetzer commented on #507
@dereekb fairly new project, using the latest version of semver.
I even wen further with that and did a fresh install of all modules, cleared all releases and git tags.

[2022-05-28 18:29] DanielNetzer commented on #507
@dereekb @edbzn Any chance to add to the README a `contribution/running the project locally` guide?
I want to help out as well, the idea and concept are great but there seems to be lots of issues.

[2022-05-28 18:47] DanielNetzer opened #520 "Using `git` instead of `gh` for semver:github"
Due to the fact that GH CLI is fairly new and almost doesn't exist on CI/CD agents.
might be trivial to use the same cmd line interface as the `version` package to reduce the need for multiple CLI's that do pretty much the same thing, or as a counter suggestion, might be worth considering the creation of a `semver:git` that will work with the `git` CLI.

[2022-05-28 19:10] edbzn commented on #507
I don't understand why we don't catch anything in the e2e tests. I would need a reproduction to investigate. @DanielNetzer There's a contributing guide [here](https://github.com/jscutlery/semver/blob/main/CONTRIBUTING.md), let me know if I can help.

[2022-05-28 19:16] dereekb commented on #507
Your issue sounds the same as the other person's here.

https://github.com/jscutlery/semver/issues/500#issuecomment-1126896815

It's a tricky bug to nail down. Wasn't occurring on my machine at home, but was occurring sometimes on CircleCI, until I made a large enough release that it triggered every time. The race condition occurs on the filesystem.

I haven't checked the e2e tests so I can't spea

[2022-05-29 07:24] edbzn commented on #520
Hi @DanielNetzer, the GitHub executor aims to create releases on the GitHub platform, and as far as I know, we have to use either the GitHub API via HTTP or the `gh` CLI (which is easier) in order to create the release. It is not possible just using Git, or maybe I'm missing something with your suggestion.

[2022-05-29 08:33] #510 closed

[2022-05-29 08:33] DanielNetzer commented on #520
@edbzn you are correct, I wasn't aware of that.
Maybe we can add it as another executor and use the API instead of GH new cli, following the reasoning I wrote above.
WDYT? would you consider a PR for that?

[2022-05-29 08:36] DanielNetzer commented on #507
I assume the easiest way to reproduce it as add the `releaseAs=<SOME_SEMVER>` flag to activate full release for all the packages.
going to start and work on this now.
btw, I believe that removing all `RxJS` in favor or promises will resolve this race condition issue...

[2022-05-29 08:47] edbzn commented on #520
I'm not sure it's worth re-developing an executor, why don't you manually provide the `gh` CLI in your CI release job?

[2022-05-29 09:01] DanielNetzer commented on #520
Since we don't do the pipeline in dockers, we will need to install on all the agents image the GH cli, our agents are based on K8S cluster for Azure DevOps that we self host, if I'll add a step to install the GH cli on the pipeline it will slow the CI in a monorepo containing over 16 projects with 12 developers working on it.

While utilizing an http endpoint instead of the GH cli will work out of

[2022-05-29 09:40] edbzn commented on #520
I agree that we could provide an HTTP fallback if the CLI is not installed.

[2022-05-30 06:59] edbzn opened #522 "Remove redundant version title from `notes` passed to post-targets"

[2022-05-30 08:24] edbzn commented on #509
We can swap `standard-version` with the `conventional-changelog` package.

[2022-05-31 07:09] rtkac commented on #434
@gauravsoni119 @edbzn something new here?
Thanks :)

[2022-06-01 06:15] ndrsg commented on #367
I'm having the same problem. I want to execute a build in the postTargets. postTargets seem to ignore dependencies, it does not matter, if they are defined as dependsOn or in nx.json as targetDependencies.
also the "built-in" dependencies for the build-target is ignored.

[code]

my-lib depends on my-other-lib, so I get an error:
[code]

My work around is to define this dependency in *nx.json* for

[2022-06-01 13:46] ndrsg opened #523 "improvement: template string replacement for nested structures like gitlab release executor assets"
Hi!
First of all, thanks for this really useful project!

I have played around a bit and found a problem with the @jscutlery/semver:gitlab executor.

The following will fail if the gitlab-release executor is placed in the postTargets as followed:

[code]

I went through the code and think to understand, that we only replace template variables on the first level, and also never for arrays. Is this

[2022-06-02 07:07] edbzn commented on #523
Resolved in #524, that was fast!

[2022-06-02 07:07] #523 closed

[2022-06-03 08:37] ndrsg commented on #411
the downside of "moving" the "last-release" tag is that you always have to

```git pull -t -f````

before pushing, to update the tag locally.

To avoid that, im pushing a new tag, starting with release- , followed by a number, or a date and time like

[code]

to get the base for the next nx affected, im using
[code]

IMHO, this is a bit out of scope of versioning, and more an individual CI flow th

[2022-06-03 12:04] yjaaidi commented on #411
In fact, the version tag and the release tag are two distinct things. The release tag marks the success.

💯 with @ndrsg and @edbzn,tagging last release shouldn't be part of semver.
Last release could even be marked by storing the commit is in a file for instance. So there are way multiple strategies.
Also, even if it's an executor in post targets. It shouldn't be executed for each project but only

[2022-06-03 13:30] edbzn commented on #411
I do not totally agree here, as you mentioned "release tag marks the success", imo we should provide something, whatever the strategy used under the hood, for marking the last successful release. It is required for semver to work properly in the CI, but I agree that we can't provide such a feature without the ability to run semver at the workspace level.

[2022-06-04 08:45] edbzn opened #526 "Fix: handle `--trackDeps` dependencies without version"
Using `--trackDeps` with non-versioned dependencies will produce incorrect entries in the changelog.

App A versioned, depends on:
- lib B (not versioned)
- lib C (not versioned)

Will produce:

[code]

Even if lib B & C are not versioned, the changelog displays "updated to version `0.1.0`" which is incorrect, the message should only be "`lib B` updated".

[2022-06-04 12:55] yjaaidi commented on #411
Exactly! This can only work at the workspace level.
Also, what I meant is that this is beyond semver. All kind of workflows using affected need a way of marking the last success.
We could even imagine multiple tags for multiple steps:
[code]

Actually, it should be an Nx feature.
🤔 just thinking out loud, what about a hook system that could allow us to trigger an executor after nx affected...

Or

[2022-06-05 17:13] edbzn opened #527 "Refactor E2E tests using `@nrwl/nx-plugin/testing`"
- https://nx.dev/packages/nx-plugin/generators/e2e-project

[2022-06-06 05:09] bjornharvold opened #528 ":bug: fix: Plugin hangs at random during generation of 1000+ change log files"
Hi!

First, thank you for a GRRRRRRREAT plugin 🚀

Does exactly what we need as part of our release strategy.

We have a monorepo with 1000+ modules and we generate change log files for every module. At random times, the plugin will just hang during change log generation (see below) and never come back to life. Most times it works as it should.

Our command:
`npx nx run workspace:version --trackDep

[2022-06-06 18:31] edbzn commented on #528
Hi @bjornharvold, thanks for the feedback.

Well, I can also notice that the logs look terrible in sync mode. :smile: Regarding the problem you described, we are running the changelog in parallel and we delegate the generation to standard-version, maybe there's a memory leak somewhere.

I think we can find something using the node profiler, your environment (1000+ modules) is pretty large, so it's

[2022-06-07 02:16] bjornharvold commented on #528
Hi @edbzn

Yes I can. The problem is this issue is random so I don't know if I will be able to get to it. Many times, introducing a profiler, also changes how the program is run and the error doesn't come to light.

Will see what I find and report back.

[2022-06-07 05:52] piranna commented on #514
Honestly, I think it should start on `0.0.0`, at least until there's a first feature, in that case it makes sense to be `0.1.0`... First commits are usually just only to add scafolding files to prepare the environment, not actual development.

[2022-06-09 08:34] nradulaski-godaddy commented on #507
Did using Promises fix the issue?

[2022-06-10 08:54] fabsrc opened #531 "Original indentation of package.json not preserved after running version executor"
After running the `version` executor, all versioned package.json files are indented with two spaces. If the original indentation was not two spaces and there is no prettier pre-commit hook configured to fix the formatting, the files need to be formatted manually afterwards.

Checking the code, I see that the indentation is [currently hardcoded to `2`](https://github.com/jscutlery/semver/blob/4eaa4

[2022-06-10 09:03] zeroregard commented on #374
Was there a workaround for this?
I see you can use `--skipCommitTypes` but when specifying that like `--skipCommitTypes=chore`, it seems to still generate a new version even if there's only a chore commit.

[2022-06-10 09:30] edbzn commented on #374
@zeroregard It's a bug if `--skipCommitTypes` is not taken into account.

[2022-06-10 09:44] zeroregard commented on #374
I noticed that it worked fine if I wrote commit messages like `chore(versioning): this is a test` but if I wrote it like `chore: this is a test`, it would not take `--skipCommitTypes` into account

[2022-06-10 11:54] 051181 opened #532 "prerelease and breaking change commit behaviour"
I would like to know if there is a way to bump into a beta major if there is a breaking change.
Ex:
prev version: 1.0.1
....
BREAKING CHANGE
...
next version: 2.0.0-beta.0
thank you

[2022-06-10 13:37] edbzn commented on #532
Hi @051181, could you try `nx run my-project:version --releaseAs=premajor --preid=beta`?

[2022-06-10 13:38] edbzn opened #533 "Bug `--skipCommitTypes`"
I noticed that it worked fine if I wrote commit messages like `chore(versioning): this is a test` but if I wrote it like `chore: this is a test`, it would not take `--skipCommitTypes` into account

_Originally posted by @zeroregard in https://github.com/jscutlery/semver/issues/374#issuecomment-1152178637_

[2022-06-10 13:47] Jucian0 opened #534 "Cannot find module '@jscutlery/semver'"
Hi everyone, I'm trying to use this package in my Bitbucket pipeline, but I'm stuck on this error.

There are any reason to this happens?

This is my pipeline steps:

[code]

Error:

[code]

[2022-06-10 13:54] 051181 commented on #532
Hi @edbzn , i've tried what you suggested but that configuration bumps ever to the next major, even if no breaking changes are made. (This is part of an automated ci/cd pipeline so i have no way to know if next version will be a major, a minor or a patch).
Maybe i misunderstood something about semver and the correct plugin use?

[2022-06-10 15:35] edbzn commented on #532
Ok I got it, well it's not possible, as soon as you pass `--releaseAs`, semver never uses the commit history to calculate the version, if you want to bump a major you have to precise it. This option is not meant to be used in a CI.

[2022-06-10 15:48] Jucian0 commented on #534
I've the package in my dev dependencies, and I tried to add the @jscutlery/semver in my publish step, but does not work yet.

[2022-06-10 16:02] edbzn commented on #534
Then I think it's due to your node_modules cache strategy, you could try to see if semver is installed correctly with a debug script:

[code]

[2022-06-10 16:05] Jucian0 commented on #534
Thanks, I will try it!

[2022-06-10 16:10] edbzn commented on #534
I can notice that in the job "Build develop" you install the dependencies using yarn but not in the "Publish develops" job, it might be the cause.

[2022-06-10 16:20] matheo opened #535 "Question about repo size"
Hi there!
thanks for this plugin, I'm just wondering if it's really required to be this heavy
I just noticed that it weights 150Mb while cloning it
and I'm not sure if something should go to `.gitignore`
Thanks in advance!

[2022-06-10 16:22] Jucian0 commented on #534
Thanks, I forgot that!

[2022-06-10 16:23] #534 closed

[2022-06-10 16:56] edbzn commented on #535
Hi @, yeah since we introduced Yarn 3 the node_modules cache is stored in the repo for fast installs but I have to admit it has several disadvantages.

[2022-06-11 10:37] dereekb commented on #517
What it looks like it happening in that second post is semver isn't seeing your previous tags on whichever branch is being used so it is calculating a version that already exists before pushing.

I had a similar issue when getting started. Do you merge your main branch back into the dev branches? If you don't connect those branches I think semver/git doesn't see them properly.

<img width="501" al

[2022-06-11 17:20] rajput2107 opened #537 "Question about Generation of changelogs"
Hi,
To version each project separately in nx, I'm using Independent Mode. However, I'd like to generate a Changelog for all of the projects in the root, rather than on a project-by-project basis.
I tried but was unable to generate a changelog on root, and I couldn't find anything in the docs other than —skipRootChangelog, which is set to false by default. Is there something I'm missing?

nx affect

[2022-06-12 06:14] edbzn commented on #537
Hi @rajput2107, this is a good question, the option `--skipRootChangelog` only works in sync mode. Maybe we should document that better. The problem we currently have with the independent mode is that it can't update things outside the project scope, this is a limitation due to Nx. We can't reliably aggregate project changes into a root changelog. Another limitation to this is that we can't for ex

[2022-06-12 06:44] edbzn opened #538 "Feature: support gitmoji preset"
- https://github.com/carloscuesta/gitmoji
- https://github.com/frinyvonnick/gitmoji-changelog

[2022-06-12 06:46] edbzn commented on #531
Hi @fabsrc, thanks for the suggestion, I like it. Would you want to contribute?

[2022-06-13 13:45] shairez opened #539 "add --skip-commit flag or option to debug CHANGELOGS"
Without having to revert the commits everytime

Good options for new projects or newcomers

[2022-06-13 14:16] cakeinpanic opened #541 "inconsistency in including merge commits"
Hi!
I faced an issue: I have an autorelease flow using `@jscutlery/semver` which runs on each push to master – i.e. on each PR merge.

My configuration looks like this:
[code]

I noticed that sometimes when I merge only `docs` and `test` commits, **`patch` version is published anyway.**

I debugged an issue and found out that it's roots are in the `git-raw-commit` and more specifically – in how `g

[2022-06-13 14:32] #531 closed

[2022-06-13 16:28] shairez commented on #539
I know you buddy, I didn't mean to imply you took it the wrong way ❤

I just won't have time to dive deeper into the code now, so I said that if it brings you guys a headache, we can park it for now :)

[2022-06-14 08:35] cakeinpanic commented on #541
@edbzn I'm not sure the issue I opened for `conventional-changelog` would be resolved soon, they don't seem to be very active on answering there

Would be cool if you checkout my repo and run some tests yourself and we'd implement some flag in `semver` package. because my team is worried with non-predictable releases :(

[2022-06-14 13:22] 051181 commented on #532
ok thank you for the clarification.. i will try a different way to solve the problem!

[2022-06-14 13:22] #532 closed

[2022-06-14 20:18] Chowarmaan commented on #91
This would be very useful, as I want to write information into a source file to include in the release. I want the tag version that would be used, to be added to a version.ts file per project/library, so I can export that in my code and then use it in UIs and other places.

[2022-06-14 21:12] Jucian0 opened #543 "Question prerelease and release"
Hi, I'm trying to generate prerelease and releases, but I can't do the right way, in my pipeline I'm using the fallowing commands:

`- npx nx affected --target=version --releaseAs=prerelease --base=develop~1  --head=develop --parallel`

for preleases, and for release.

`- npx nx affected --target=version --base=last-release --parallel`

The command to generate prerelease is working as I want, it i

[2022-06-15 09:56] rajput2107 opened #544 "Question: Commit history"
Is it possible to combine all modified project versions into a single commit instead of having a separate commit for each project?
It will clog up the entire history of commits.
There will be 20 commits for versioning if we have 20 packages (considering all are affected)

[2022-06-15 12:14] edbzn commented on #544
Hi @rajput2107, not at the moment but that is something we would like to tackle, you can find more details here #61.

[2022-06-15 12:15] #544 closed

[2022-06-15 13:53] #543 closed

[2022-06-15 19:46] Chowarmaan opened #545 "Using Angular or Conventional Commits results in error on chore when writing CHANGELOG.md"
Using the @jscutlery/semver plugin on an NX workspace, with either the convential commits, or Angular style, has the commit tag added to the repository with the 'chore'. However, this seems to fail the process of writing the CHANGELOG.md when trying to release the package.

    $ nx version --releaseAs=major

    [app] 🟠 No previous version tag found, fallback to version 0.0.0.
        New version

[2022-06-15 21:07] Chowarmaan commented on #545
In investigating further, it would appear that re-running the install, does not update the .commitlintrc.json in the root directory, so the actual validation rules were not changing again.  Manually changing the contents of this file to use config-conventional, corrected the problem.

	{
		"extends": ["@commitlint/config-conventional"],
		"rules": {}
	}

[2022-06-16 05:53] edbzn opened #547 "Feature: handle no workspace.json configuration"
Since workspace.json file in the root directory is optional we have to handle projects without global configuration.

https://nx.dev/configuration/packagejson

[2022-06-16 06:14] nradulaski-godaddy commented on #507
This issue happens all the time with `affected` and `run-many` unless I use `--parallel=1`.

[2022-06-16 08:35] edbzn opened #548 "Feature: handle projects with package.json configuration only"
CF: https://github.com/jscutlery/semver/discussions/546

[2022-06-16 08:44] edbzn commented on #507
@nradulaski-godaddy thanks for the feedback, I think it means the underlying issue is fixed in semver, but we have to document the usage of `--parallel=1` or handle it in the install generator so it's transparent to the user.

[2022-06-16 08:45] edbzn opened #549 "Fix: install generator should setup `"parallel": false`"
CF: https://github.com/jscutlery/semver/issues/507#issuecomment-1157397361

[2022-06-16 08:57] zeroregard commented on #533
I'm still experiencing this bug.
I edited every changelog of the projects using semver, and committed this change with the message:

```chore(versioning): added 'changelog generation initialized' for first version of all changelogs```

This is the step I have in my workflow:
[code]

Every project has the `version` target set like so:
[code]

[2022-06-16 10:58] nradulaski-godaddy commented on #507
I can't seem to find parallel option in this plugin and setting it for all tasks in `nx.json` would be bad since we do want no run our build, tests, linting, etc in parallel. I don't know if there is a way to have `parallel=1` only for semver?

[2022-06-17 14:33] Chowarmaan commented on #458
This issue still exists.  I just added the versioning to a new project in an existing workspace, and the first time I run the version, even with dry-run, it generates the error.  The CHANGELOG.md file does not exist in my project.

    nx generate @jscutlery/semver:ng-add

    √ Would you want to enforce conventional commits? (Y/n) · true
    √ Which preset would you want to use? · conventional

[2022-06-17 18:16] edbzn commented on #458
Maybe it's happening only on Windows because on Linux I can't reproduce.

[2022-06-17 18:17] edbzn opened #551 "Bug: (Windows) fatal CHANGELOG.md did not match any files"
This issue still exists.  I just added the versioning to a new project in an existing workspace, and the first time I run the version, even with dry-run, it generates the error.  The CHANGELOG.md file does not exist in my project.

    nx generate @jscutlery/semver:ng-add

    √ Would you want to enforce conventional commits? (Y/n) · true
    √ Which preset would you want to use? · conventional

[2022-06-17 19:00] Chowarmaan commented on #551
Possibly, but I have found using the GIT Bash shell, usually removes all the platform differences, for most every tool, but not all every time.  Is there something I can provide to help identify if it is something on Windows that can be addressed?

[2022-06-18 01:04] hayawata3626 opened #552 "After generating the tag, the pipeline fails in gitlab ci."
After generating the tag, the pipeline fails.
It seems to be a problem when pushing the code.
Is there something wrong with my setup?

[code]

I did exactly what the document says.
https://github.com/jscutlery/semver#gitlab-ci

my .gitlab-ci.yml

[code]

I changed settings of project.json to generate CHANGELOG.md as follows.

[code]

[2022-06-18 06:16] edbzn commented on #552
@hayawata3626 I think it comes from a misconfiguration of the base branch, the error occurs on the push like if "main" is not a correct ref, what is your base branch, master or main?

[2022-06-18 06:19] edbzn commented on #551
@Chowarmaan Ok I found the cause, it's when combining the first release and --dryRun option, it's not related to your operating system.

[2022-06-18 07:06] hayawata3626 commented on #552
@edbzn
Thanks for the reply!
My base branch is main.

[2022-06-18 07:32] hayawata3626 commented on #552
@edbzn
Perhaps this has something to do with it?
https://forum.gitlab.com/t/src-refspec-master-does-not-match-any/24691

[2022-06-18 10:07] edbzn commented on #552
Yeah, it could come from the way you are initializing the repository, did you try to change or remove the `GIT_DEPTH` variable?

[2022-06-18 22:03] hayawata3626 commented on #552
Yeah, I tried this.

[2022-06-19 18:03] Phault opened #554 "nx:run-commands as postTarget receives extraneous arguments"
After updating from Nx 14.1.5 to 14.3.6, my postTargets that use nx:run-commands with `npm publish` started failing with an odd error:
[code]
Note all the extra arguments after `npm publish`. Weirdly enough if I just run the postTarget task directly then it works just fine, which leads me to believe it was caused by this Nx change: https://github.com/nrwl/nx/commit/da1faaf483668227b9a7e8706426c938

[2022-06-20 13:46] Chowarmaan commented on #551
As a side note, it is not just dry-run mode though. It does error out when simply running without the CHANGELOG.md file.

[2022-06-20 14:09] edbzn commented on #551
I tested and if I don't pass the `--dryRun` option it does not output the error, so yeah to reproduce you have to pass this option and have no changelog.md file present.

[2022-06-21 04:28] bjornharvold commented on #528
Hi @edbzn

Not able to replicate with the profiler. Changed my script to call:

`npx nx run workspace:version --skipProjectChangelog=true`

Will leave it at that.

Thank you 🍺

[2022-06-21 04:28] #528 closed

[2022-06-22 16:06] Jucian0 opened #555 "Question: Differences between semver process and nx build process with affected argument"
Hello everyone, foremost thanks for this amazing package!

I have a question about the process of build and the process of generate new version with `semver`.
In my monorepo I have some packages that depend on a principal package. When I run my pipeline to update the principal package, `semver`, run for all packages, but increase the version just for the principal package, but nx build and nx publ

[2022-06-22 21:11] Chowarmaan opened #556 "Feature Request: Add the ability to write the $version and other strings to a file"
I like the versioning that this tool is doing, but want to be able to show this version on my application about screen (or somewhere).  As such, it would be nice to be able to have an extra command line switch to simply determine what the version would be, and then write a string into a specific file.  I have not found a way to do this, but maybe there is a trick in the NX space?

For instance, I

[2022-06-25 08:02] edbzn commented on #556
Hey, I like the idea, we have a related issue #91.

[2022-06-28 08:13] avchugaev commented on #547
I have the same issue even with a normally generated `workspace.json` file:

[code]

Environment: a newly generated Nx workspace with a single Angular lib configured by `install` command to be versioned.

[2022-06-28 08:34] avchugaev opened #557 "Cannot find project 'workspace' when running `nx run workspace:version`"
### Pre-conditions

- Nx workspace generated with the latest version Nx for Angular v14
- Single Angular lib configured by `@jscutlery/semver:install`
- `project.json` has a `version` configuration:
[code]

### Steps to reproduce

Run the command

[code]

### Actual result

An error:

[code]

### Expected result

A successful run of versioning.

[2022-06-28 09:12] edbzn commented on #557
Hi @avchugaev, did you run the install generator with `--syncVersions` or select the sync mode when prompted? This should configure the sync mode.

[2022-06-28 09:18] avchugaev commented on #557
Hey @edbzn, I think I ran it without `--syncVersions`. Just like said in README.
Give me a moment to re-check.
Btw, which versioning mode is better for a workspace containing publishable Angular libraries, given some of them depends on others?

[2022-06-28 09:20] edbzn commented on #555
Hi @Jucian0, if the dependent packages are not updated it's because their sources have not changed. You can try to use the `--trackDeps` in all of your packages, this should bump and publish packages at any depth.

[2022-06-28 09:53] #557 closed

[2022-06-28 10:22] Jucian0 commented on #555
Hi, thanks for answer, I was going to try --allowEmptyRelease, I will try  - - trackDeps. Thanks @edbzn

[2022-06-28 10:42] edbzn commented on #555
Oh you are right, `--allowEmptyRelease` would solve it, not `--trackDeps`, let me know!

[2022-06-28 17:08] FrederickEngelhardt opened #558 "[Question] Prevent autogeneration of git tag when running version script"
Is there a way to prevent the generation of a git tag when running version?

Example use case:
Versioning all items in a release with a patch and then later reconciling these patches with forced minor upgrade. The these patches and minor upgrades would not be tags and would only be published when a new release was cut from the develop branch.

[2022-06-29 13:35] #555 closed

[2022-07-05 10:32] Qwal opened #559 "No version bump after change in package.json"
https://github.com/jscutlery/semver/blob/ffb5d59353dd78358cf10242fc53925c1868a66b/packages/semver/src/executors/version/utils/get-project-dependencies.ts#L33

I think we are missing here a dependency updates. For example I would like to create a new version for the app when I update React from version `18.1.0` to `18.2.0`

When running `nx affected` it correctly displays all the apps affected by v

[2022-07-05 11:58] airtonix opened #560 "Are other presets allowed?"
https://github.com/jscutlery/semver/blob/9997fcabca2a01a72ea351033b2bf91efcd1f83b/packages/semver/src/executors/version/index.ts#L230-L233

This seems to indicate that only angular or conventionalcommits are allowed? what if I want to use keep-a-changelog?

[2022-07-05 12:03] airtonix commented on #526
you mean it should be :

[code]

[2022-07-05 17:52] edbzn commented on #560
@airtonix Yes, only angular and conventional preset from conventional changelog are allowed right now. The problem with Keep a Changelog is that we can't rely on semver to bump the packages, so I don't think it's doable easily with the current state.

[2022-07-05 20:23] gabsmprocha commented on #552
same here, using GH Actions

[2022-07-06 14:17] gabsmprocha opened #561 "tag project-x.y.z exists locally but has not been pushed"
Hi guys,

I'm having the same error similar to this issue: #461

error: tag project-x.y.z exists locally but has not been pushed

[code]

[2022-07-06 14:33] gabsmprocha commented on #421
I still have this problem

[2022-07-06 16:45] gabsmprocha commented on #552
@edbzn Any ideas to work around this problem? 🤔

[2022-07-07 09:46] alaa0000 commented on #421
I had a similar problem, the solution for me was to run the github action from the same branch (main in your case). I was previously running it from my feature branch.

[2022-07-07 17:12] Chowarmaan opened #562 "Feature Request: Add a flag to not include the Git tag reference in the change log"
When generating the CHANGELOG.md, I would like to be able to not add the Git references to the document.

For instance, I have the following generated by semver (the highlighted part is what I would want to suppress with the new option):

	[timesheet-api]  Calculated new version "0.2.0".

	---
	## [0.2.0](https://.../compare/timesheet-api-0.1.0...timesheet-api-0.2.0) (2022-07-07)

	### Features

[2022-07-07 17:16] Chowarmaan opened #563 "Feature Request: Add a flag to generate just the CHANGELOG.md so it can be edited, and then included with the commit"
It would be nice to be able to edit the CHANGELOG.md before it is committed as part of the semver process.  For instance, I would like to be able to use the current tool to decide what everything should look like, and to write the CHANGELOG.md, but not commit the CHANGELOG.md or tags to the repository.  This would allow me to edit the CHANGELOG.md, and correct spelling, or make any other changes.

[2022-07-07 20:00] gabsmprocha commented on #421
@alaa0000 tks, this solved to me 😃

[2022-07-07 20:00] #421 closed

[2022-07-07 20:43] gabsmprocha opened #564 "Do not show previous versions in changelog"
Hi guys!

Is there any way to prevent the changelog from listing past versions? I would like to display only the commits of the current version

[2022-07-07 20:53] #564 closed